{% extends "base.html" %}
{% load static %}
{% load extras %}
{% load crispy_forms_tags %}

{% block style %}
<style>
{% comment %} .wrapper{
        background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    } {% endcomment %}
    .form-control{
        border : 1px solid rgba(220, 53, 69, 0.21);
    }
    form {
        color: #dc3545;
    }
    fieldset{
        border: 0px dashed #cc8aca;
    }
    legend{
        padding: 0px 5px;
        width: auto;
    }
</style>
{% endblock style %}
{% block content %}
<div class="container-fluid px-0 mb-4" id="checkoutapp">
    <div class='row no-gutters justify-content-center' v-if="!billing_profile">
        <transition enter-active-class="animate__animated animate__fadeIn">
            <div class='col-12 col-md-6 my-5' v-if="showlogin">
                <div class="card border-0 bg-transparent">
                    <p class='lead card-header bg-transparent font-weight-bold'>Login / <button @click="showform" class="btn btn-link text-primary pl-0">continue as guest</button></p> 
                    <div class="card-body text-black">
                        {% include 'accounts/snippets/form.html' with form=login_form next_url=request.build_absolute_uri %}
                    </div>
                </div>
            </div>
        </transition>
        <transition enter-active-class="animate__animated animate__fadeIn">
            <div class='col-12 col-md-6 my-5' v-if="showguest">
                <div class="card border-0 bg-transparent">
                    <p class='lead card-header bg-transparent font-weight-bold'>Continue as Guest / <button @click="showform" class="btn btn-link text-primary pl-0">login</button></p>
                    <div class="card-body text-black">
                        {% url "accounts:guest_register" as guest_register_url %}
                        {% include 'accounts/snippets/form.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}
                    </div>
                </div>
            </div>
        </transition>
    </div>
    <div class='row no-gutters justify-content-center' v-else>
        {% comment %} <div class="col-12 align-items-baseline animate__animated animate__slideInDown animate__delay-1s animate__slow" style="background-color:#b7daaf;left:0;">
            <div class="d-inline-flex">
                <p class="h2 font-weight-light px-2">Place Order</p>&nbsp;&nbsp;
            </div>
        </div> {% endcomment %}
        {% comment %} <div class='col-12'>
            <p class='lead font-weight-bolder'>Place Order</p>
            <hr/>
        </div> {% endcomment %}
        <div class="col-10 align-content-between">
            {% if address %}
            {% comment %} <div class="card-deck">
                <div class="card mx-0 rounded-0 animate__animated animate__fadeIn animate__delay-1s">
                    <h4 class="card-header font-weight-bold">Address</h4>
                    <div class="d-flex">
                        <div class="pl-2 py-1 pr-0">
                            <span><i class="fas text-danger fa-map-marker-alt "></i></span>
                        </div>
                        <div class="card-body flex-grow-1 py-1">
                            <div class="font-italic">
                                {{ address.get_address|linebreaks }}
                            </div>
                        </div>
                        <div class="d-flex card-footer justify-content-start">
                            {% if request.user.is_authenticated %}
                            <a href='{{ address.get_absolute_url }}?next={{ request.build_absolute_uri }}' class='text-primary mr-3'>Edit</a>
                            <button type="button" class="btn btn-transparent btn-link align-text-top p-0 d-flex" data-toggle="modal" data-target="#changeaddress">
                                <span>Change</span>
                            </button>
                            
                            {% else %}
                            <button type="button" class="btn btn-transparent btn-link" data-toggle="modal" data-target="#editaddress">
                                Edit
                            </button>
                            
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card mx-0 rounded-0 text-dark animate__animated animate__fadeIn animate__delay-2s">
                    <h4 class="font-weight-bold card-header">Your Order</h4>
                    <div class="card-body py-0">
                        <ul class="list-group list-group-flush">
                            {% cartlist %}
                        </ul>
                    </div>
                </div>
                <div class="card mx-0 rounded-0 animate__animated animate__fadeIn animate__delay-3s">
                    <h4 class="card-header font-weight-bold">Finalize Checkout</h4>
                    <div class="card-body text-success">
                        <p class="card-text">Cart Total: {{ cart.get_total_price|currency }}</p>
                        {% if object %}
                        <p class="card-text">Shipping Total: {{ object.shipping_total|currency }}</p>
                        <p class="card-text">Order Total: {{ cart.get_total_price|addfloatt:object.shipping_total|currency }}</p>
                        {% endif %}
                    </div>
                    <form class='card-footer bg-transparent' method='POST' action="">{% csrf_token %}
                        <button type='submit' {% if not address %}disabled{% endif %} class='btn btn-success btn-md rounded-0'>Pay Now <i class="fas fa-lock"></i></button>
                    </form>
                </div>
            </div> {% endcomment %}
            <div class="accordion my-5" id="accordionExample">
                <div class="card bg-transparent">
                    <div class="card-header" id="headingOne" style="background-color:#766596;border-bottom:2px solid white;">
                    <h2 class="mb-0">
                        <button class="btn btn-link text-white text-monospace font-weight-bolder text-uppercase text-decoration-none btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fas fa-map-marked-alt "></i> Shipping Address
                        </button>
                    </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="d-flex" style="background-color:#766596;">
                            <div class="pl-2 py-1 pr-0">
                                <span><i class="fas text-danger fa-map-marker-alt "></i></span>
                            </div>
                            <div class="card-body text-white text-monospace flex-grow-1 py-1">
                                <div class="font-italic">
                                    {{ address.get_address|linebreaks }}
                                </div>
                            </div>
                            <div class="d-flex flex-column card-footer bg-dark justify-content-around">
                                {% if request.user.is_authenticated %}
                                <a href='{{ address.get_absolute_url }}?next={{ request.build_absolute_uri }}' role="button" class='btn text-monospace btn-primary btn-md rounded-0'>Edit</a>
                                <button type="button" class="btn btn-info align-text-top text-monospace rounded-0" data-toggle="modal" data-target="#changeaddress">
                                    Change
                                </button>
                                
                                {% else %}
                                <button type="button" class="btn btn-transparent btn-link" data-toggle="modal" data-target="#editaddress">
                                    Edit
                                </button>
                                
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card bg-transparent">
                    <div class="card-header" id="headingTwo" style="background-color:rgb(255 203 123);border-bottom:2px solid white;">
                    <h2 class="mb-0">
                        <button class="btn btn-link text-white text-monospace font-weight-bolder text-uppercase btn-block text-decoration-none collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="fas fa-luggage-cart"></i> Order #{{ object.order_id }}
                        </button>
                    </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body text-monospace text-white py-0" style="background-color:rgb(255 203 123);">
                            <ul class="list-group list-group-flush">
                                {% cartlist %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card bg-transparent">
                    <div class="card-header" id="headingThree" style="background-color:rgb(170 190 125);border-bottom:2px solid white;">
                    <h2 class="mb-0">
                        <button class="btn btn-link text-white btn-block text-monospace font-weight-bolder text-uppercase text-decoration-none collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <i class="fas fa-check-circle"></i> Finalize Checkout
                        </button>
                    </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body text-monospace text-white" style="background-color:rgb(170 190 125);">
                            <p class="card-text">Cart Total: {{ cart.get_total_price|currency }}</p>
                            {% if object %}
                            <p class="card-text">Shipping Total: {{ object.shipping_total|currency }}</p>
                            <p class="card-text">Order Total: {{ cart.get_total_price|addfloatt:object.shipping_total|currency }}</p>
                            {% endif %}
                        </div>
                        <form class='card-footer bg-info' method='POST' action="">{% csrf_token %}
                            <button type='submit' {% if not address %}disabled{% endif %} class='btn btn-success btn-md rounded-0'>Pay Now <i class="fas fa-lock"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            {% comment %} <div class="d-flex mt-5 flex-column justify-content-center align-items-center">
                <div class="bg-dark mb-4 p-4 rounded-circle">
                    <i class="fas fa-shipping-fast display-1 text-info animate__animated animate__pulse animate__slow animate__infinite"></i>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash2-fill display-1 text-danger animate__animated animate__pulse animate__slow animate__infinite" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.037 3.225l1.684 10.104A2 2 0 0 0 5.694 15h4.612a2 2 0 0 0 1.973-1.671l1.684-10.104C13.627 4.224 11.085 5 8 5c-3.086 0-5.627-.776-5.963-1.775z"/>
                        <path fill-rule="evenodd" d="M12.9 3c-.18-.14-.497-.307-.974-.466C10.967 2.214 9.58 2 8 2s-2.968.215-3.926.534c-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466zM8 5c3.314 0 6-.895 6-2s-2.686-2-6-2-6 .895-6 2 2.686 2 6 2z"/>
                    </svg>
                </div>
            </div> {% endcomment %}
            {% else %}
                <div class>
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'accounts:address-create' %}?next={{ request.build_absolute_uri }}" class="btn btn-lg rounded-0 btn-primary" role="button">Create new</a>
                    {% else %}
                        {% url "cart:checkout_address_create" as checkout_address_create %}
                        {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping' %}'
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="modal fade" id="changeaddress" tabindex="-1" role="dialog" aria-labelledby="changeaddressTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changeaddressTitle">Change Address</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% url 'cart:checkout_address_reuse' as checkout_address_reuse %}
                        {% include 'addresses/prev_addresses.html' with address_qs=address_qs current_address=shipping_address_id next_url=request.build_absolute_uri address_type='shipping' action_url=checkout_address_reuse %}
                    </div>
                    <div class="modal-footer d-flex flex-row justify-content-between">
                        <div class="">
                            <a href="{% url 'accounts:address-create' %}?next={{ request.build_absolute_uri }}" role="button" class="btn btn-sm btn-success rounded-0">Create New Address</a>
                        </div>
                        <div class="">
                            <button type="button" class="btn btn-secondary btn-sm rounded-0" data-dismiss="modal">Close</button>
                            <button type="submit" form="changeaddressform" class="btn btn-primary btn-sm rounded-0">Use Address</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editaddress" tabindex="-1" role="dialog" aria-labelledby="editaddressTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editaddressTitle">Edit Address</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="{% url 'cart:guest_address_edit' %}" id="addresseditform">
                            {% csrf_token %}
                            {{ address_form|crispy }}
                            <input type="hidden" name="address-id" value="{{ address.id }}"/>
                            <input type="hidden" name="next" value="{{ request.build_absolute_uri }}"/>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" form="addresseditform" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    const checkout = new Vue({
        el: '#checkoutapp',
        store: store,
        delimiters: ['[[', ']]'],
        data () {
            return {
                billing_profile: {% if billing_profile %}true{% else %}false{% endif %},
                showlogin: true,
                showguest: false,
            }
        },
        computed: {
            label: function(){
                if (this.showlogin){
                    return "Login"
                }
                return "Sign Up"
            }
        },
        methods: {
            showform(){
                this.showlogin = !this.showlogin
                this.showguest = !this.showguest
            }
        },
        mounted(){
            console.log("mounted")
        },


    });

</script>

{% endblock javascript %}