{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% load extras %}
{% block style %}
<style>
    .list-move{
        transition: transform 1s;
    }
    .list-leave-active{
        transition: all 1s;
        opacity: 0;
        color: white;
        animation: slide-out 1s ease-out forwards;
    }

    @keyframes slide-out {
        from {
            transform: translateY(0);
            height: 201px;
        }
        to {
            transform: translateX(-100px);
            height: 0;
        }
    }
</style>
{% endblock style%}
{% block content %}
<div class="row col-12 no-gutters position-absolute align-items-baseline animate__animated animate__slideInDown animate__delay-1s" style="background-color:#b7daaf;left:0;">
    <div class="d-inline-flex">
        <p class="display-4">Cart</p>&nbsp;&nbsp;
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bag-check-fill display-4 text-success" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M5.5 3.5a2.5 2.5 0 0 1 5 0V4h-5v-.5zm6 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
        </svg>
    </div>
</div>
<div class="container" :class="{'align-self-center my-auto' : trousers.length === 0}" id="cart-app">
        <transition
            enter-active-class="animate__animated animate__slideInLeft"
            leave-active-class="animate__animated animate__hinge"
        >
            <div class="toast position-absolute" v-if="toast" role="alert" :style="{top: topT + 'px'}" style="min-width:262px;left:0;opacity:1;z-index:1000;" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="{% static 'image/favicon.ico' %}" class="rounded mr-2" alt="Rad">
                    <strong class="mr-auto">Rad</strong>
                    <small>0 mins ago</small>
                </div>
                <div class="toast-body">
                    <span class="text-muted">Maximum stock reached <i class="fas fa-running"></i></span>
                </div>
            </div>
        </transition>
    <div class="row justify-content-center overflow-hidden mt-3">
        <transition appear mode="out-in" enter-active-class="animate__animated animate__fadeIn animate__delay-1s" leave-active-class="animate__animated animate__fadeOut">
            <div class="col-12 col-md-12 px-md-0" ref="bustop" style="margin-top:83px;" v-if="trousers.length > 0" key="notempty">
                <div class="d-flex justify-content-end mb-3">
                    <button @click="removeAll" type="button" name="" id="" class="small btn btn-danger text-monospace btn-lg"><i class="fas fa-trash-alt animate__animated animate__headShake animate__delay-3s"></i></button>
                </div>
                <transition-group mode="out-in" tag="ul" name="list" class="list-group d-flex flex-row flex-wrap justify-content-md-around list-group-flush">
                    <li v-for="(trouser, index) in trousers" :key="trouser.key" class="list-group-item shadow px-0 col-md-6 col-lg-4 list-group-item-darbk">
                        <div class="d-flex justify-content-between">
                            <div class="p-2 py-lg-2 px-lg-1">                 
                                <a :href="trouser.url">
                                    <img :src="[[ trouser.image_url ]]" class="">
                                </a>
                            </div>
                            <div class="py-2 px-0">
                                <p>[[ trouser.name ]]</p>
                                <p class="text-monospace">[[ trouser.total_price|currency ]]</p>
                                <button class="btn btn-sm btn-outline-dark" @click="decrementQuantity(trouser.id, trouser.size, trouser.quantity, trouser.price)">-</button><span class="mx-1">[[ trouser.quantity ]]</span><button class="btn btn-sm btn-outline-dark" @click="incrementQuantity(trouser.id, trouser.size, trouser.quantity, trouser.price)">+</button>
                                <button @click="removeFromCart(trouser.id, trouser.size, trouser.quantity, trouser.total_price)" class="btn btn-transparent p-0 ml-4 my-2 add-to-cart btn-outline-transparent d-block"><i class="fas fa-trash-alt text-danger"></i></button>
                            </div>
                            <div class="p-2 py-lg-2 px-lg-1">
                                <p class="text-muted mb-1 text-monospace font-smaller font-italic" style="font-size:11px;">([[ trouser.price|currency ]])</p>
                                <small class="text-muted font-smaller font-italic" style="font-size:10px">[[ trouser.size ]]</small>

                            </div>
                        </div>
                    </li>
                </transition-group>
                <div class="col-12 col-md-6 px-0 my-5 mx-auto">
                    <p class="h2 text-monospace font-weight-bold text-center">Total: <i class="fas fa-shopping-b"></i>[[ get_total_price|currency ]]</p>
                    <a href="{% url 'cart:checkout' %}" class="btn btn-block btn-lg btn-success rounded-0 text-monospace">Checkout <i class="fas fa-check-double"></i></a>
                </div>
            </div>
            <div v-else key="empty" class="col-md-6 col-6">
                <div class="d-flex flex-column justify-content-center animate__animated animate__backInLeft animate__slow align-items-center">
                    <div class="bg-dark mb-4 p-3 rounded-circle">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash2-fill display-1 text-danger animate__animated animate__pulse animate__slow animate__infinite" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.037 3.225l1.684 10.104A2 2 0 0 0 5.694 15h4.612a2 2 0 0 0 1.973-1.671l1.684-10.104C13.627 4.224 11.085 5 8 5c-3.086 0-5.627-.776-5.963-1.775z"/>
                            <path fill-rule="evenodd" d="M12.9 3c-.18-.14-.497-.307-.974-.466C10.967 2.214 9.58 2 8 2s-2.968.215-3.926.534c-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466zM8 5c3.314 0 6-.895 6-2s-2.686-2-6-2-6 .895-6 2 2.686 2 6 2z"/>
                        </svg>
                    </div>
                    <a class="btn btn-link py-3 font-weight-bold rounded-0 text-decoration-none text-white btn-outline-primary" style="background-color:#9968ff;" href="{% url 'menu:trouser_by_category' 'cargo-collections' %}">Go To Collections</a>
                </div>
            </div>
        </transition>
    </div>
</div>
{% endblock content %}
{% block javascript %}
<script src="{% static 'js/lodash.min.js' %}"></script>
<script>
const cartapp = new Vue({
        delimiters: ['[[', ']]'],
        el: '#cart-app',
        store: store,
        data (){
            return {
                trousers: [{{ trousersString|safe }}],
                toast: false,
                topT:0,
            }
        },
        created(){
        },
        updated(){
        },
        mounted(){
            console.log("mounted")
            {% comment %} console.log(this.trousers) {% endcomment %}

        },
        computed: {
            get_total_price: function(){
                return store.state.get_total_price;
            },
            num_items: function(){
                return store.state.numItems;
            }
        },
        filters: {
            currency: function(value){
                if (!value) return ''
                value = formatter.format(value)
                return value
            },
        },
        methods: {
            removeAll(){
                store.commit('increment', -parseInt(this.num_items));
                store.commit('changeTotalPrice', -parseFloat(this.get_total_price));
                fetch("{% url 'cart:cart-remove-all' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    }, 
                    credentials: 'same-origin',
                })
                .then((response) => { 
                    len = this.trousers.length
                    this.trousers.splice(0, len);
                })
                .catch(function (error){
                    console.log(error);
                })
            },
            removeFromCart(trouser_id, size, quantity, price){
                let data = {'trouser_id': trouser_id,
                            'size': size, 
                            'quantity': parseInt(quantity),
                };
                store.commit('increment', -parseInt(quantity));
                store.commit('changeTotalPrice', -parseFloat(price));
                fetch("{% url 'cart:cart-remove' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    }, 
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    for(let i = 0; i < this.trousers.length; i++){
                        var trouser = this.trousers[i];
                        if (trouser.id === trouser_id && trouser.size === size){
                            key = trouser.key
                            this.trousers = this.trousers.filter(trouser => trouser.key !== key)
                        }
                    }
                })
                .catch(function (error){
                    console.log(error);
                })
            },
            incrementQuantity(trouser_id, size, quantity, price) {
                console.log(this.trousers)
                for(let i=0; i<this.trousers.length; i++){
                    let trouser = this.trousers[i]

                    if(trouser.id === trouser_id && trouser.size === size){
                        if (!(quantity >= trouser.stock)){
                            let data = {'trouser_id': trouser_id,
                            'size': size, 
                            'quantity': parseInt(quantity)+1,
                            'update': true,
                            };
                            store.commit('increment', 1);
                            store.commit('changeTotalPrice', parseFloat(price));
                            fetch("{% url 'cart:cart-add' %}", {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRFToken': '{{ csrf_token }}'
                                }, 
                                credentials: 'same-origin',
                                body: JSON.stringify(data)
                            })
                            .then((response) => {
                                console.log(response)
                                for(let i = 0; i < this.trousers.length; i++){
                                    var trouser = this.trousers[i];

                                    if (trouser.id === trouser_id && trouser.size === size){
                                        this.trousers[i].quantity = parseInt(this.trousers[i].quantity) + 1;
                                        console.log("here")
                                        total_price = parseInt(this.trousers[i].quantity) * parseFloat(this.trousers[i].price)
                                        this.trousers[i].total_price = _.round(total_price, 2)
                                    }
                                }
                            })
                            .catch(function (error){
                                console.log(error);
                            })
                        } else{
                            this.toast = true
                            this.topT = Math.abs(this.$refs.bustop.getBoundingClientRect().top) + 350
                            setTimeout(function(){
                                this.toast = false
                            }.bind(this), 2000)
                        }
                    }

                }

            },
            decrementQuantity(trouser_id, size, quantity, price) {
                let data = {'trouser_id': trouser_id, 
                            'size': size, 
                            'quantity': parseInt(quantity)-1,
                            'update': true,
                        };
                
                store.commit('increment', -1);
                store.commit('changeTotalPrice', -parseFloat(price));

                if (parseInt(quantity)-1 === 0){
                    this.removeFromCart(trouser_id, size, quantity, price);
                } 
                else{
                    fetch("{% url 'cart:cart-add' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        }, 
                        credentials: 'same-origin',
                        body: JSON.stringify(data)
                    })
                    .then((response) => {
                        console.log(response)
                        for(let i = 0; i < this.trousers.length; i++){
                            var trouser = this.trousers[i];

                            if (trouser.id == trouser_id && trouser.size === size){
                                this.trousers[i].quantity = parseInt(this.trousers[i].quantity) - 1;
                                total_price = parseInt(this.trousers[i].quantity) * parseFloat(this.trousers[i].price)
                                this.trousers[i].total_price = _.round(total_price, 2)

                            }
                        }
                    })
                    .catch(function (error){
                        console.log(error);
                    })
                }

            },
        },
    });
</script>
{% endblock javascript %}