{% load extras %}
{% load mptt_tags %}
{% recursetree menus %}
{% if dimension == "mobile" %}
<li class="clone d-lg-none {% if node.slug in request.path %}active {% endif %}list-group-item menu-list bg-transparent">
    {% if not node.is_leaf_node %}
    <a href="{{ node|form_url }}" class="d-inline-block text-capitalize">{{ node.name }}</a>
    <button class="p-0 float-right menu-data-toggle d-inline-block bg-transparent text-decoration-none border-0 data-toggle" aria-haspopup="true" data-target="#{{ node.slug }}-submenu" aria-controls="{{ node.slug }}-submenu" aria-expanded="false" data-toggle="collapse" role="button" ><i class="fas fa-xs fa-plus text-white-50"></i></button>
    <ul class="border-left collapse list-unstyled bg-transparent p-0 list-group list-group-flush" id="{{ node.slug }}-submenu">
        {{ children }}
    </ul>
    {% else %}
    <a href="{{ node|form_url }}" class="text-capitalize">{{ node.name }}</a>
    {% endif %}
</li>
{% else %}
{% if not node.is_leaf_node %}
<div class="d-flex flex-column">
    <a href="{{ node|form_url }}" class="text-capitalize text-center">{{ node.name }}</a>
    <div class="p-1 bg-transparent p-0 d-flex flex-column align-items-center my-4">
        {{ children }}
    </div>
</div>
{% else %}
<a href="{{ node|form_url }}" class="text-capitalize text-center {% if node.is_child_node %}my-3{% endif %}">{{ node.name }}</a>
{% endif %}
{% endif %}
{% endrecursetree %}
