{% load static %}
{% load extras %}
<div id="navigation">
    <nav id="sidebar" class="d-lg-none">
        <div id="dismiss">
            <button type="button" id="sidebarCollapsev" class="navbar-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <ul class="list-unstyled list-group font-weight-bold mobile p-2 list-group-flush mt-5" id="mobile">
            <li class="{% if 'categories/' not in request.path and 'account/' not in request.path and 'cart/' not in request.path %}active {% endif %}d-flex align-items-center list-group-item d-flex menu-list bg-transparent">
                <i class="fas fa-home text-white-50"></i>&nbsp;<a href="/">HOME</a>
            </li>
            {% menu "mobile" %}
        </ul>
        <ul class="list-unstyled list-group font-weight-bold fixed-bottom list-group-horizontal" id="login">
            {% if not request.user.is_authenticated %}
            <li class="{% if 'login/' in request.path  %}active {% endif %}align-items-center justify-content-center d-flex list-group-item flex-fill rounded-0" style="background-color:#6b8872;">
                <a href="{% url 'accounts:login' %}" class="text-center">LOGIN</a>
            </li>
            <li class="{% if 'signup/' in request.path  %}active {% endif %}align-items-center justify-content-center d-flex list-group-item flex-fill rounded-0" style="background-color:#f47e3a;">
                <a href="{% url 'accounts:signup' %}" class="text-center">SIGN UP</a>
            </li>
            {% else %}
            <li class="{% if 'account/dashboard/' in request.path  %}active {% endif %}align-items-center justify-content-center d-flex list-group-item flex-fill rounded-0" style="background-color:#6b8872;">
                <a href="{% url 'accounts:account-home' %}" class="text-center">MY ACCOUNT</a>
            </li>
            <li class="{% if 'logout/' in request.path  %}active {% endif %}align-items-center justify-content-center d-flex list-group-item flex-fill rounded-0" style="background-color:#f47e3a;">
                <a href="{% url 'accounts:logout' %}" class="text-center">LOGOUT</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <nav class="navbar navbar-expand-lg d-lg-none fixed-top navbar-light bg-light navv">
        <div class="container-fluid">
            <div class="d-flex justify-content-between w-100 align-items-center">
                <button type="button" id="sidebarCollapse" class="navbar-btn btn-link text-decoration-none bg-transparent animate__animated animate__slideInLeft">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="logo-logo animate__slow">
                    <a href="/"><img src="{% static 'image/favicon.ico' %}" class="logo-image" /></a>
                </div>
                <div id="cartnav-mobile" class="animate__animated animate__slideInRight"> 
                    <button class="bg-transparent remove-outline btn text-decoration-none text-white p-0 font-weight-bold" data-toggle="modal" data-target="#searchModal">
                        <i class="fas fa-search text-dark"></i>
                    </button>
                    <a id="cart" href="{% url 'cart:cart-detail' %}" class="btn btn-link text-decoration-none text-dark bg-transparent d-inline-block d-lg-none" role="button">
                        <i class="fas fa-box-open position-relative align-middle text-center" :class="{'badger': numItems > 0}" :data-count="numItems"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg fixed-top d-none d-lg-block navbar-light inverse bg-light">
        <div class="container-fluid px-lg-0">
            <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
                <div class="animate__animated animate__backInDown animate__slow d-inline-block">
                    <a href="/"><img src="{% static 'image/favicon.ico' %}" class="logo-image" /></a>
                </div>
                <ul class="flex-grow-1 mx-lg-2 d-flex justify-content-between justify-content-lg-around animate__animated animate__fadeInDownBig animate__slow list-unstyled desktop font-weight-bold list-group list-group-horizontal">
                    <li class="border-0 px-1 d-lg-none d-xl-block {% if 'categories/' not in request.path and 'account/' not in request.path and 'cart/' not in request.path %}active {% endif %}list-group-item bg-transparent">
                        <a href="/"><i class="fas fa-home"></i>&nbsp;HOME</a>
                    </li>
                    {% menu "desktop" %}
                </ul>
                <ul class="list-unstyled desktop-menu-right animate__animated animate__fadeInDownBig animate__slow list-group font-weight-bold list-group-horizontal" style="color: rgba(15, 15, 15, 0.63);">
                    <li id="cartnav" class="px-0 list-group-item border-0 bg-transparent d-flex"> 
                        <a id="" href="{% url 'cart:cart-detail' %}" class="{% if 'cart/' in request.path %}active {% endif %} cart my-auto">
                            <i class="fas fa-box-open text-primary position-relative align-middle text-center"></i>&nbsp;CART&nbsp;(&nbsp;<span v-if="numItems > 0">[[ numItems ]]</span><span v-else>0</span>&nbsp;)
                        </a>&nbsp;<span class="my-auto">|</span>
                    </li>
                    <li class="list-group-item bg-transparent border-0 px-2 px-xl-4 d-flex">
                        <a href="javascript:void(0);" role="button" class="px-0 font-weight-bold text-decoration-none" data-toggle="modal" data-target="#searchModal"><i class="fas fa-search text-success"></i>&nbsp;SEARCH</a>&nbsp;<span class="my-auto">|</span>
                    </li>
                    {% if not request.user.is_authenticated %}
                    <li class="px-0 d-flex align-items-center border-0 list-group-item bg-transparent" style="">
                        <a href="{% url 'accounts:login' %}" class="{% if 'login/' in request.path %}active {% endif %}text-center align-text-bottom my-auto">LOGIN</a>&nbsp;<span class="text-warning">|</span>&nbsp;<a href="{% url 'accounts:signup' %}" class="{% if 'signup/' in request.path %}active {% endif %}text-center my-auto">SIGN UP</a>
                    </li>
                    {% else %}
                    <li class="d-flex align-items-center px-0 border-0 list-group-item bg-transparent" style="">
                        <a href="{% url 'accounts:account-home' %}" class="{% if 'account/dashboard/' in request.path %}active {% endif %}text-center my-auto">MY ACCOUNT</a>&nbsp;<span class="text-warning">|</span>&nbsp;<a href="{% url 'accounts:logout' %}" class="text-center my-auto">LOGOUT</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="modal animate__animated animate__zoomIn animate__fast" id="searchModal" style="z-index:10000;" tabindex="-1" role="dialog" aria-labelledby="searchModalTitle" aria-hidden="true">
        <div class="modal-dialog h-100 vw-100 m-0" role="document">
            <div class="modal-content h-100 vw-100" style="background:#212529;opacity:.95;">
                <div class="modal-header p-md-4 border-bottom-0">
                    <button type="button" class="close text-danger remove-outline" @click="close" data-custom-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-3x fa-times close-search"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-12 col-md-11 mx-auto">
                        <form method="GET" data-url="{% url 'shop:api-search' %}" v-on:submit.prevent="search($event)">
                            <div class="input-group mb-3">
                                <input type="text" v-model="query" autocomplete="off" class="form-control bg-transparent search border-bottom border-top-0 border-right-0 border-left-0 rounded-0" id="InputSearch" name="query" placeholder="search our store..." aria-label="Search">
                                <div class="input-group-append">
                                    <button class="px-1 btn btn-link text-decoration-none search-button bg-transparent border-bottom border-left-0 border-top-0 border-right-0 rounded-0 remove-outline" type="submit" id="basic-addon1"><i class="fas search-icon fa-search mb-0 h3 text-success"></i></span>
                                </div>
                            </div>
                            <p class="text-muted search-help-text font-italic">please try to specific with search. e.g cargo pants.</p>
                        </form>
                        <transition appear mode="out-in" enter-active-class="animate__animated animate__fadeIn" leave-active-class="animate__animated animate__fadeOut">
                            <p class="text-right search-help-text text-muted font-italic" key="info" v-if="sortedTrousers.length > 0">[[ sortedTrousers.length ]] result(s) found.</p>
                            <p class="text-right search-help-text text-muted font-italic" key="emptyinfo" v-else>[[ sortedTrousers.length ]] result(s) found.</p>
                        </transition>
                        <transition-group appear mode="out-in" tag="ul" v-bind:css="false" v-on:before-enter="beforeEnter" v-on:enter="enter" leave-active-class="animate__animated animate__fadeOut" class="row justify-content-around flex-row list-group list-unstyled list-group-flush border" :class="css_class" style="overflow-x:hidden;overflow-y:auto;max-height:55vh;min-height:55vh;">
                            <div v-if="loading" class="col-12 my-auto d-flex flex-column align-items-center" key="loading">
                                <i class="animate__animated animate__bounce animate__slow animate__infinite text-success bg-warning rounded-circle p-4 fas fa-3x text-white fa-search"></i>
                                <p class="text-muted font-italic">loading...</p>
                            </div>
                            <a v-if="!loading && sortedTrousers.length > 0" v-for="(trouser, index) in sortedTrousers" :data-index="index" :key="trouser.id" :href="trouser.url" class="col-11 col-md-5 text-decoration-none search-results list-group-item bg-transparent d-flex align-items-center list-group-item-action">
                                <picture>
                                    <source :srcset="trouser.first_image.file_sm" type="image/svg+xml" media="(max-width: 480px)">
                                    <source :srcset="trouser.first_image.file" type="image/svg+xml">
                                    <img :src="trouser.first_image.file" class="align-self-center rounded-circle img-fluid img-thumbnail mr-3" alt="...">
                                </picture>
                                <div style="color:rgba(255,213,0,0.9);text-shadow: 1px 1px 3px #ffc107, 1px 1px 3px #7b07ff;" class="text-monospace d-flex flex-column justify-content-center">
                                    <p class="mt-0 h5">[[ trouser.name ]]</p>
                                    <p class="h6 mb-0">[[ trouser.color ]]</p>
                                    <p class="mb-0">[[ trouser.price|currency ]]</p>
                                </div>
                            </a>
                            <div v-if="sortedTrousers.length < 1 && !loading && empty" class="col-12" key="empty">
                                <p class="text-white text-center font-italic text-monospace">No item found...</p>
                            </div>
                        </transition-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>