@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
html,
body {
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    background-color: rgb(242, 242, 242);
}

/* .animate{
    animation-fill-mode: none;
} */
.home {
    width: 100%;
    height: 70vh;
    background-image: url('../image/background/background.jpg');
    background-position: center top;
    background-size: cover;
}


/* Navbar section */

.logo-image {
    width: 30px;
    height: 30px;
}
.logo {
    font-family: 'Faster One', 'Brush Script Mt';
    color: #D2691E;
}

#cart .badger:after {
    content: attr(data-count);
    position: absolute;
    background: rgba(255, 0, 0, 1);
    height: 25px;
    width: 25px;
    top: -120%;
    left: 70%;
    text-align: center;
    line-height: 25px;
    font-size: 10px;
    border-radius: 50%;
    color: white;
    text-align: center;
    vertical-align: middle;
    /* border: 1px solid blue; */
}


/* p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
} */

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    /* background: #fff; */
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    min-width: 60vw;
    max-width: 60vw;
    background: #1c1b1b;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    /* top layer */
    overflow-y: scroll;
    z-index: 9999;
    height: 100vh;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

.overlayy {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}


/* display .overlay when it has the .active class */

.overlayy.active {
    display: block;
    opacity: 1;
}

#dismiss {
    width: 40px;
    height: 40px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
}
.list-group-horizontal.desktop .list-group-item {
    /* border: 0px; */
    color: rgba(15, 15, 15, 0.63);
}

.list-group-horizontal.desktop .list-group-item.active {
    position: relative;
}
.list-group-horizontal.desktop .list-group-item.active:before {
    position: absolute;
    top: 34px;
    height: 0;
    width: 25%;
    content: '';
    margin-top:5px;
    border-top: 3px solid rgb(207, 91, 91);
}

.user-options{
    color: rgba(15, 15, 15, 0.63);
}

.list-group.mobile .list-group-item {
    border-bottom: 2px solid #4b4c4d;
}
.list-group.mobile .list-group-item.active:last-child {
    border-bottom-width: 2px;
}
.list-group.mobile .list-group-item.active {
    border-top-width: 0px;
    border-bottom: 2px solid #007bff;
}
.list-group.desktop-menu-right .list-group-item.active {
    color:#c15b5b !important;
}
.list-group#login{
    min-width:60vw !important;
    max-width:60vw !important;
    /* background-color: #17a2b8; */
}
.list-group#login li.active{
    background-color: #007bff !important;
}
#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #1c1b1b;
}

.menu-data-toggle:focus, .menu-data-toggle:active{
    outline: none !important;
    box-shadow: none !important;
}

/* #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #999;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
} */

#sidebar ul li a {
    font-size: 11px;
    display: block;
}

/*#sidebar ul li a:hover {
    color: #999;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #999;
} */

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 10px !important;
    padding-left: 0px !important;
    /* border-bottom: 1px solid#999; */
    /* background: #999; */
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

#InputSearch:focus, #InputSearch:focus ~ div > .search-button{
    border-bottom: 1px solid #4dd0e1 !important;
    box-shadow: 0 0 0 0 #4dd0e1!important;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

#sidebarCollapsev {
    width: 40px;
    height: 40px;
    background: transparent;
    cursor: pointer;
}

#sidebarCollapsev span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapsev span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapsev span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapsev span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapsev.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (min-width: 650px) {
    #sidebar {
        min-width: 40vw;
        max-width: 40vw
    }
    #sidebar ul li a {
        font-size: 16px;
    }
    ul ul a {
        font-size: 12px !important;
    }
    .list-group#login{
        min-width:40vw !important;
        max-width:40vw !important;
        /* background-color: #17a2b8; */
    }
}
@media (max-width: 991px) {
    .main-wrapper {
        padding-top: 71px !important;
    }
    .payment-overlay {
        top: 71px;
    }
}
@media (min-width: 1024px) {
    .main-wrapper {
        padding-top: 92px !important;
    }
    .payment-overlay {
        top: 92px;
    }
}
@media (max-width: 991px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
    #sidebarCollapsev span:first-of-type,
    #sidebarCollapsev span:nth-of-type(2),
    #sidebarCollapsev span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapsev.active span {
        margin: 0 auto;
    }
    #sidebarCollapsev.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapsev.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapsev.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}

.affix {
    background-color: #1c1b1b;
}

.footer {
    background-color: #1c1b1b;
}

.list-group-item.socials.list-group-item-action{
    width: auto;
    color:#f47e3a;
}

.list-group-item.links.list-group-item-action{
    color:#CD5C5C;
}

.footer-heading{
    color:#6b8872;;
}

.loader-wrapper {
    z-index: 1000000000;
    width: 100%;
    height: 100%;
    /* position: absolute; */
    top: 0;
    left: 0;
    position: fixed;
    background-color: #6d7fcc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}

.cssload-container{
	position:relative;
}
	
.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 1px solid rgb(204,204,204);
	border-left-color: rgb(0,0,0);
	border-radius: 974px;
		-o-border-radius: 974px;
		-ms-border-radius: 974px;
		-webkit-border-radius: 974px;
		-moz-border-radius: 974px;
}

.cssload-whirlpool {
	margin: -24px 0 0 -24px;
	height: 49px;
	width: 49px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::before {
	content: "";
	margin: -22px 0 0 -22px;
	height: 43px;
	width: 43px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after {
	content: "";
	margin: -28px 0 0 -28px;
	height: 55px;
	width: 55px;
	animation: cssload-rotate 2300ms linear infinite;
		-o-animation: cssload-rotate 2300ms linear infinite;
		-ms-animation: cssload-rotate 2300ms linear infinite;
		-webkit-animation: cssload-rotate 2300ms linear infinite;
		-moz-animation: cssload-rotate 2300ms linear infinite;
}



@keyframes cssload-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-rotate {
	100% {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-rotate {
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-rotate {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-rotate {
	100% {
		-moz-transform: rotate(360deg);
	}
}