{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block style %}
<style>
.home-button{
    background-color:#1c1b1b;
    font-size:10px;
    color: white;
}

.home-button.btn-outline-danger {
    border-color: transparent;
}

.swiper-button-next:after, 
.swiper-container-rtl,
.swiper-button-prev:after{
    content: none;
}
.swiper-button-next, 
.swiper-button-prev{
    border-radius: 100%;
}
.swiper-mid .swiper-pagination-bullet{
    background: #eee;
}
.swiper-mid .swiper-pagination-bullet.active{
    background: white;
}
.swiper-first .swiper-pagination-bullet, .swiper .swiper-pagination-bullet{
    background: transparent;
    opacity: .8;
    border: 1px solid black;
}
.swiper-first .swiper-pagination-bullet-active, .swiper .swiper-pagination-bullet-active{
    background: #000;
}

.hint-after::after{
    content: "";
    position: absolute;
    border-bottom: 2px solid crimson;
    top: 50%;
    margin-top: -1px;
    margin-left: 5px;
    border-radius: 2px;
    width: 5%;
    transition: all 1.5s ease-in-out;
}

.swiper-slide:hover {
    transform: scale(1.1)
}
.swiper-slide:hover {
    transition: transform .5s ease;
}
.slide-show:hover .hint-after::after{
    width: 100%;
}

.slide-show:hover::after .hint-after::after{
    width: 100%;
}

.hint-before::before{
    content: "";
    position: absolute;
    border: 1px solid crimson;
    top: 50%;
    margin-top: -1px;
    margin-right: 5px;
    border-radius: 2px;
    width: 100%;
}
</style>
{% endblock style %}

{% block content %}
<section id="home-slideshow" class="home d-flex align-items-center justify-content-center mb-5">
    <div class="container">
        <div class="row align-items-center justify-content-center animate__animated animate__fadeInUp animate__delay-2s my-auto animate__slow">
            <div class=" d-flex flex-column align-items-start">
                {{ home.get_markdown_top }}
                <div class="d-flex align-items-center justify-content-center">
                    <a class="btn btn-primary bg-white rounded-0 text-center text-dark btn-outline-light" href="{% url 'menu:product_by_category' 'collections' %}" role="button">SHOP NOW</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container" id="index">
    <div class="row mb-4 no-gutters slide-show best-seller overflow-hidden" style="min-height:300px;">
        <span class="text-uppercase hint-after mb-4 font-weight-light col-12">BEST SELLERS</span>
        <transition mode="out-in" enter-active-class="animate__animated animate__fadeInRight" leave-active-class="animate__animated animate__fadeOut">
            <div v-if="bestSellerLoading" key="loadingbestseller" class="col-12 d-flex flex-column justify-content-center align-items-center" style="min-height:300px;">
                <div class="spinner-border text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div
                class="swiper-first px-lg-5 mx-0 pb-4 col-12"
                v-swiper:swiper-first="swiperOptions"
                v-if="!bestSellerLoading"
                key="bestseller"
                data-aos="fade-up"
            >
                <div class="swiper-wrapper">
                    <div class="swiper-slide card bg-transparent border-0" v-for="product in bestSellerProducts" :key="product.sku">
                        <a :href="product.url" class="d-flex h-100 flex-column">
                            <div class="d-flex flex-grow-1 bg-transparent best-seller-slideshow align-items-center justify-content-center overflow-hidden">
                                <img :src="product.first_variant.first_image.file" class="img-fluid  mx-auto card-img-top" alt="image">
                            </div>
                            <div class="card-body d-flex flex-column align-items-center flex-grow-0 py-0">
                                <p class="card-title mb-1 text-center font-weight-bold" style="font-size:10px;">[[ product.first_variant.color ]]<br>[[ product.name ]]</p>
                                <span class="d-flex col-8 col-md-12 px-0 flex-wrap justify-content-center" style="font-size:11px;font-weight:600;">
                                    <del class="card-text flex-grow-0 text-danger small" v-if="product.first_variant.old_price != 0">[[ product.first_variant.old_price|currency ]]&nbsp;&nbsp;</del>
                                    <p class="align-text-bottom card-text" v-if="product.first_variant.old_price == 0">[[ product.first_variant.price|currency ]]</p>
                                    <p class="align-text-bottom text-warning card-text" v-else>[[ product.first_variant.price|currency ]]</p>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="d-none d-lg-flex justify-content-start align-items-center remove-outline swiper-button-prev">
                    <i class="fas text-black-50 fa-2x fa-angle-left"></i>
                </div>
                <div class="d-none d-lg-flex justify-content-end align-items-center remove-outline swiper-button-next">
                    <i class="fas text-black-50 fa-2x fa-angle-right"></i>
                </div>
                <div class="swiper-pagination swiper-pagination-bullets"></div>
            </div>
        </transition>
        <a href="{% url 'menu:product_by_category' 'best-sellers' %}" class="btn btn-lg home-button px-5 btn-outline-danger py-3 font-weight-bold rounded-0 text-center mx-auto" role="button">VIEW ALL PRODUCTS</a>
    </div>
    <div class="row mb-4 back-in-stock-md justify-content-between">
        {% for feature in home.features.all %}
        <div class="col-6 col-xl-3 card mb-3 bg-transparent border-0" data-aos="zoom-in">
            <div class="d-flex bg-transparent align-items-center justify-content-center overflow-hidden">
                <picture>
                    {% thumbnail feature.image "325x577" crop="center" as im %}
                        <source srcset="{{ im.url }}" type="image/svg+xml" media="(max-width: 991px)">
                    {% endthumbnail %}
                    {% thumbnail feature.image "450x799" crop="center" as im %}
                        <source srcset="{{ im.url }}" type="image/svg+xml" media="(min-width: 992px) and (max-width: 1199px)">
                    {% endthumbnail %}
                    {% thumbnail feature.image "260x453" crop="center" as im %}
                        <source srcset="{{ im.url }}" type="image/svg+xml" media="(min-width: 1200px)">
                    {% endthumbnail %}
                    <img src="{{ feature.image.url }}" class="img-fluid  mx-auto card-img-top" alt="...">
                </picture>
            </div>
            <div class="card-img-overlay flex-column justify-content-md-end align-items-md-start p-5 d-none d-md-flex text-white">
                {{ feature.get_markdown }}
                <a style="font-size:11px;color:black;" class="btn py-2 bg-light mt-1 btn-sm btn-outline-white rounded-0 text-center small" href="{{ feature.url }}" role="button">SHOP NOW</a>
            </div>
            <div class="card-body pt-1 px-0 d-md-none d-flex flex-column text-white justify-content-center align-items-center">
                <span class="text-center" style="color: rgba(0, 0, 0, 0.81)">{{ feature.get_markdown }}</span>
                <a style="background-color:#1c1b1b;font-size:11px;" class="btn btn-block py-2 mt-1 btn-sm btn-outline-white rounded-0 text-center text-white small" href="{{ feature.url }}" role="button">SHOP NOW</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row mb-4 no-gutters slide-show new-arrivals overflow-hidden" style="min-height:300px;">
        <span class="text-uppercase hint-after mb-4 font-weight-light col-12">NEW ARRIVALS</span>
        <transition mode="out-in" enter-active-class="animate__animated animate__fadeInRight" leave-active-class="animate__animated animate__fadeOut">
            <div v-if="newArrivalLoading" key="loadingnewaarival" class="col-12 d-flex flex-column justify-content-center align-items-center" style="height:300px;">
                <div class="spinner-border text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div
                v-if="!newArrivalLoading"
                key="newarrival"
                class="swiper mx-0 pb-4 px-lg-5 col-12"
                v-swiper:swiper="swiperOptions"
                data-aos="fade-up"
            >
                <div class="swiper-wrapper">
                    <div class="swiper-slide card bg-transparent border-0" v-for="product in newArrivalProducts" :key="product.sku">
                        <a :href="product.url" class="d-flex h-100 flex-column">
                            <div class="d-flex flex-grow-1 bg-transparent best-seller-slideshow align-items-center justify-content-center overflow-hidden">
                                <img :src="product.first_variant.first_image.file" class="img-fluid  mx-auto card-img-top" alt="image">
                            </div>
                            <div class="card-body d-flex flex-column align-items-center flex-grow-0 py-0">
                                <p class="card-title mb-1 text-center font-weight-bold" style="font-size:10px;">[[ product.first_variant.color ]]<br>[[ product.name ]]</p>
                                <span class="d-flex col-8 col-md-12 px-0 flex-wrap justify-content-center" style="font-size:11px;font-weight:600;">
                                    <del class="card-text flex-grow-0 text-danger small" v-if="product.first_variant.old_price != 0">[[ product.first_variant.old_price|currency ]]&nbsp;&nbsp;</del>
                                    <p class="align-text-bottom card-text" v-if="product.first_variant.old_price == 0">[[ product.first_variant.price|currency ]]</p>
                                    <p class="align-text-bottom text-warning card-text" v-else>[[ product.first_variant.price|currency ]]</p>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="d-none d-lg-flex justify-content-start align-items-center remove-outline swiper-button-prev">
                    <i class="fas text-black-50 fa-2x fa-angle-left"></i>
                </div>
                <div class="d-none d-lg-flex justify-content-end align-items-center remove-outline swiper-button-next">
                    <i class="fas text-black-50 fa-2x fa-angle-right"></i>
                </div>
                <div class="swiper-pagination swiper-pagination-bullets"></div>
            </div>
        </transition>
            <a href="{% url 'menu:product_by_category' 'new-arrivals' %}" class="btn btn-lg rounded-0 home-button px-5 btn-outline-danger py-3 font-weight-bold text-center mx-auto" role="button">VIEW ALL PRODUCTS</a>
    </div>
    <div class="row no-gutters mb-4" data-aos="zoom-in-up">
        <div class="col-12 px-3">
            {{ home.get_markdown_info }}
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
{% if debug %}
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/vegas.min.js' %}"></script>
<script src="{% static 'js/vue-awesome-swiper.js' %}"></script>
{% else %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.5.1/vegas.min.js" integrity="sha512-Bmv8OphSOBca3B+9fmuXfFBTZF4f3dy98T3mEvJHPt3ab4SIbbclYzJJ2//ldUcx6bG2iiFxxWu+CL87StEqDg==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-awesome-swiper@4.1.1/dist/vue-awesome-swiper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js" integrity="sha512-VHsNaV1C4XbgKSc2O0rZDmkUOhMKPg/rIi8abX9qTaVDzVJnrDGHFnLnCnuPmZ3cNi1nQJm+fzJtBbZU9yRCww==" crossorigin="anonymous"></script>
{% endif %}
<script src="{% static 'js/vue-awesome-swiper.js' %}"></script>
<script type="text/javascript">
    $("#home-slideshow").vegas({
        slides: [
            {% if home.image1 %}
            { src: "{{ home.image1.url }}" },
            {% endif %}
            {% if home.image2 %}
            { src: "{{ home.image2.url }}" },
            {% endif %}
            {% if home.image3 %}
            { src: "{{ home.image3.url }}" },
            {% endif %}
        ],
        transition: ['zoomOut', 'flash'],
        delay: 10000,
        shuffle: true,
        transitionDuration: 2000,
        overlay: "{% static '/js/overlays/03.png' %}"
        {% comment %} animation: 'kenburnsDownRight' {% endcomment %}
    });
    $('.vegas-timer').addClass('d-none')
    $('.vegas-content-scrollable').addClass('d-flex align-items-end justify-content-start p-md-5 py-5 px-4 w-100')


    Vue.use(VueAwesomeSwiper)
    const index = new Vue({
        el: '#index',
        store: store,
        delimiters: ['[[', ']]'],
        data (){
            return {
                swiperOptions: {
                    grabCursor: true,
                    loop: false,
                    pagination: {
                        el: '.swiper-pagination',
                        dynamicBullets: true,
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev'
                    },
                    breakpoints: {
                        1200: {
                            slidesPerView: 5,
                            spaceBetween: 10
                        },
                        768: {
                            slidesPerView: 4,
                            spaceBetween: 10
                        },
                        320: {
                            slidesPerView: 2,
                            spaceBetween: 10
                        },
                    }
                },
                newArrivalProducts: [],
                bestSellerProducts: [],
                newArrivalLoading: true,
                bestSellerLoading: true,
            }
        },
        created(){
            AOS.init();
        },
        updated(){
            AOS.refreshHard();
        },
        mounted(){
            this.newArrival();
            this.bestSeller();
        },
        filters: {
            currency: function(value){
                if (!value) return ''
                value = formatter.format(value)
                return value
            },
        },
        computed: {
            numItems: function(){
                return store.state.numItems;
            },
        },
        methods: {
            newArrival(){
                fetch("{% url 'shop:api-new-arrivals' %}", {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    }, 
                    credentials: 'same-origin',
                })
                .then((response) => { 
                    return response.json();
                })
                .then((results) => {
                    this.newArrivalProducts = _.map(results, 'item');
                    setTimeout( function(){
                        this.newArrivalLoading = false;
                    }.bind(this), 1000);
                })
                .catch(function (error){
                    console.log(error);
                })
            },
            bestSeller(){
                fetch("{% url 'shop:api-best-sellers' %}", {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    }, 
                    credentials: 'same-origin',
                })
                .then((response) => { 
                    return response.json();
                })
                .then((results) => {
                    this.bestSellerProducts = _.map(results, 'item');
                    setTimeout( function(){
                        this.bestSellerLoading = false;
                    }.bind(this), 1000);
                })
                .catch(function (error){
                    console.log(error);
                })
            },
            slideshowhover(e){
            }
            
        }

    });
</script>
{% endblock javascript %}
