{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
.back-in-stock .lSPager.lSpg > li a{
    background-color: transparent!important;
    border: 1px solid white;
}
.back-in-stock .lSPager.lSpg > li.active a {
    background-color: white!important;
    border: 1px solid white;
}
.back-in-stock .lSPager.lSpg {
    bottom:0px;
}

.swiper-button-next:after, 
.swiper-container-rtl,
.swiper-button-prev:after{
    content: none;
}
.swiper-button-next, 
.swiper-button-prev{
    border-radius: 100%;
}
.swiper-mid .swiper-pagination-bullet{
    background: #eee;
}
.swiper-mid .swiper-pagination-bullet.active{
    background: white;
}
.swiper-first .swiper-pagination-bullet, .swiper .swiper-pagination-bullet{
    background: transparent;
    opacity: .8;
    border: 1px solid black;
}
.swiper-first .swiper-pagination-bullet-active, .swiper .swiper-pagination-bullet-active{
    background: #000;
}
</style>

{% endblock style %}

{% block content %}
<section id="home-slideshow" class="home d-flex align-items-center justify-content-center mb-5">
    <div class="container">
        <div class="row align-items-center justify-content-center animate__animated animate__fadeInUp animate__delay-2s my-auto animate__slow">
            <div class="">
                <span class="text-white text-center">NEW ARRIVALS & RESTOCKS</span>
                <h4 class="text-white font-weight-bold text-center mb-4">JUST IN.</h4>
                <div class="d-flex align-items-center justify-content-center">
                    <a class="btn btn-primary bg-white rounded-0 text-center text-dark btn-outline-light" href="{% url 'menu:trouser_by_category' 'collections' %}" role="button">SHOP NOW</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container" id="index">
    <div class="row border-bottom mb-4">
        <div class="col px-3">
            <p class="text-center font-weight-bold mb-4 h6">ORDERS ARE SHIPPED AS USUAL</p>
            <p class="mb-4 text-center">Despite challenges presented by COVID-19, our online store is still open, with orders shipped everyday.
                Our logistics team is taking extraordinary precaution with each order to ensure the safety of our customers and employees.</p>
            <p class="mb-4 text-center">Thank you for your support of all small businesses like ours. Stay safe, stay healthy.</p>
        </div>
    </div>
    <div class="row mb-4 no-gutters best-seller">
        <span class="text-uppercase mb-4 font-weight-light col-12">BEST SELLERS</span>
        <div
            class="swiper-first mx-0 pb-4 col-12"
            v-swiper:swiper-first="swiperOptions"
            {% comment %} @click-slide="onSwiperClickSlide"
            @slide-change-transition-start="onSwiperSlideChangeTransitionStart" {% endcomment %}
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide card bg-transparent border-0" v-for="i, index in 7" :key="index">
                    <div class="d-flex bg-transparent align-items-center justify-content-center overflow-hidden">
                        <img src="../../static/image/test.jpg" class="img-fluid img-responsive mx-auto card-img-top" alt="image">
                    </div>
                    <div class="card-body py-0">
                        <p class="card-title font-weight-bold" style="font-size:10px;">BLACK <br>N1 CARGO</p>
                        <span class="d-flex justify-content-start" style="font-size:10px;font-weight:600;">
                            {% comment %} <del class="card-text text-danger" v-if="trouser.first_variant.old_price"></del> {% endcomment %}
                            {% comment %} <p class="align-text-bottom card-text font-weight-bolder">&nbsp;[[ trouser.first_variant.price|currency ]]</p> {% endcomment %}
                        </span>
                    </div>
                </div>
            </div>
            <div class="d-none d-lg-block swiper-button-prev">
                <i class="fas text-black-50 fa-2x fa-angle-left"></i>
            </div>
            <div class="d-none d-lg-block swiper-button-next">
                <i class="fas text-black-50 fa-2x fa-angle-right"></i>
            </div>
            <div class="swiper-pagination swiper-pagination-bullets"></div>
        </div>
        <a href="{% url 'menu:trouser_by_category' 'bestsellers' %}" class="btn btn-lg px-5 py-3 font-weight-bold rounded-0 text-center mx-auto text-white" style="background-color:#1c1b1b;font-size:11px;" role="button">VIEW ALL</a>
    </div>
    <div class="row mb-4 back-in-stock-md">
        <div class="col-6 col-xl-3 card mb-3 bg-transparent border-0">
            <div class="d-flex bg-transparent align-items-center justify-content-center overflow-hidden">
                <img src="../../static/image/new1.jpg" class="img-fluid img-responsive mx-auto card-img-top" alt="image">
            </div>
            <div class="card-img-overlay flex-column justify-content-md-end align-items-md-start p-5 d-none d-md-flex text-white">
                <p class="card-title mb-0 text-monospace">BACK IN STOCK</p>
                <p class="card-title small text-monospace">C1 CARGO</p>
                <a style="font-size:11px;color:black;" class="btn py-2 bg-light py-md-3 mt-1 btn-sm btn-outline-white rounded-0 text-center small" href="{% url 'menu:trouser_by_category' 'back-in-stock' %}" role="button">SHOP NOW</a>
            </div>
            <div class="card-body py-1 d-md-none d-flex flex-column text-white justify-content-center align-items-center">
                <p class="card-title mb-0 text-monospace text-dark">BACK IN STOCK</p>
                <p class="card-title small text-monospace text-dark">C1 CARGO</p>
                <a style="background-color:#1c1b1b;font-size:11px;" class="btn btn-block py-2 py-md-3 mt-1 btn-sm btn-outline-white rounded-0 text-center text-white small" href="{% url 'menu:trouser_by_category' 'back-in-stock' %}" role="button">SHOP NOW</a>
            </div>
        </div>
        <div class="col-6 col-xl-3 card mb-3 bg-transparent border-0">
            <div class="d-flex bg-transparent align-items-center justify-content-center overflow-hidden">
                <img src="../../static/image/new1.jpg" class="img-fluid img-responsive mx-auto card-img-top" alt="image">
            </div>
            <div class="card-img-overlay flex-column justify-content-md-end align-items-md-start p-5 d-none d-md-flex text-white">
                <p class="card-title mb-0 text-monospace">BACK IN STOCK</p>
                <p class="card-title small text-monospace">C1 CARGO</p>
                <a style="font-size:11px;color:black;" class="btn py-2 bg-light py-md-3 mt-1 btn-sm btn-outline-white rounded-0 text-center small" href="{% url 'menu:trouser_by_category' 'back-in-stock' %}" role="button">SHOP NOW</a>
            </div>
            <div class="card-body py-1 d-md-none d-flex flex-column text-white justify-content-center align-items-center">
                <p class="card-title mb-0 text-monospace text-dark">BACK IN STOCK</p>
                <p class="card-title small text-monospace text-dark">C1 CARGO</p>
                <a style="background-color:#1c1b1b;font-size:11px;" class="btn btn-block py-2 py-md-3 mt-1 btn-sm btn-outline-white rounded-0 text-center text-white small" href="{% url 'menu:trouser_by_category' 'back-in-stock' %}" role="button">SHOP NOW</a>
            </div>
        </div>
        <div class="col-6 col-xl-3 card mb-3 bg-transparent border-0">
            <div class="d-flex bg-transparent align-items-center justify-content-center overflow-hidden">
                <img src="../../static/image/new2.jpg" class="img-fluid img-responsive mx-auto card-img-top" alt="image">
            </div>
            <div class="card-img-overlay flex-column justify-content-md-end align-items-md-start p-5 d-none d-md-flex text-white">
                <p class="card-title mb-0 text-monospace">BACK IN STOCK</p>
                <p class="card-title small text-monospace">C1 CARGO</p>
                <a style="font-size:11px;color:black;" class="btn py-2 bg-light py-md-3 mt-1 btn-sm btn-outline-white rounded-0 text-center small" href="{% url 'menu:trouser_by_category' 'back-in-stock' %}" role="button">SHOP NOW</a>
            </div>
            <div class="card-body py-1 d-md-none d-flex flex-column text-white justify-content-center align-items-center">
                <p class="card-title mb-0 text-monospace text-dark">BACK IN STOCK</p>
                <p class="card-title small text-monospace text-dark">C1 CARGO</p>
                <a style="background-color:#1c1b1b;font-size:11px;" class="btn btn-block py-2 py-md-3 mt-1 btn-sm btn-outline-white rounded-0 text-center text-white small" href="{% url 'menu:trouser_by_category' 'back-in-stock' %}" role="button">SHOP NOW</a>
            </div>
        </div>
        <div class="col-6 col-xl-3 card mb-3 bg-transparent border-0">
            <div class="d-flex bg-transparent align-items-center justify-content-center overflow-hidden">
                <img src="../../static/image/new3.jpg" class="img-fluid img-responsive mx-auto card-img-top" alt="image">
            </div>
            <div class="card-img-overlay flex-column justify-content-md-end align-items-md-start p-5 d-none d-md-flex text-white">
                <p class="card-title mb-0 text-monospace">BACK IN STOCK</p>
                <p class="card-title small text-monospace">C1 CARGO</p>
                <a style="font-size:11px;color:black;" class="btn py-2 bg-light py-md-3 mt-1 btn-sm btn-outline-white rounded-0 text-center small" href="{% url 'menu:trouser_by_category' 'back-in-stock' %}" role="button">SHOP NOW</a>
            </div>
            <div class="card-body py-1 d-md-none d-flex flex-column text-white justify-content-center align-items-center">
                <p class="card-title mb-0 text-monospace text-dark">BACK IN STOCK</p>
                <p class="card-title small text-monospace text-dark">C1 CARGO</p>
                <a style="background-color:#1c1b1b;font-size:11px;" class="btn btn-block py-2 py-md-3 mt-1 btn-sm btn-outline-white rounded-0 text-center text-white small" href="{% url 'menu:trouser_by_category' 'back-in-stock' %}" role="button">SHOP NOW</a>
            </div>
        </div>
    </div>
    <div class="row mb-4 no-gutters new-arrivals">
        <span class="text-uppercase mb-4 font-weight-light col-12">NEW ARRIVALS</span>
        <div
            class="swiper mx-0 pb-4 col-12"
            v-swiper:swiper="swiperOptions"
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide card bg-transparent border-0" v-for="i, index in 6" :key="index">
                    <div class="d-flex bg-transparent align-items-center justify-content-center overflow-hidden">
                        <img src="../../static/image/test.jpg" class="img-fluid img-responsive mx-auto card-img-top" alt="image">
                    </div>
                    <div class="card-body py-0">
                        <p class="card-title font-weight-bold" style="font-size:10px;">BLACK <br>N1 CARGO</p>
                        <span class="d-flex justify-content-start" style="font-size:10px;font-weight:600;">
                            {% comment %} <del class="card-text text-danger" v-if="trouser.first_variant.old_price"></del> {% endcomment %}
                            {% comment %} <p class="align-text-bottom card-text font-weight-bolder">&nbsp;[[ trouser.first_variant.price|currency ]]</p> {% endcomment %}
                        </span>
                    </div>
                </div>
            </div>
            <div class="d-none d-lg-block swiper-button-prev">
                <i class="fas text-black-50 fa-2x fa-angle-left"></i>
            </div>
            <div class="d-none d-lg-block swiper-button-next">
                <i class="fas text-black-50 fa-2x fa-angle-right"></i>
            </div>
            <div class="swiper-pagination swiper-pagination-bullets"></div>
        </div>
        <a href="{% url 'menu:trouser_by_category' 'new-arrivals' %}" class="btn btn-lg rounded-0 px-5 py-3 font-weight-bold text-center mx-auto text-white" style="background-color:#1c1b1b;font-size:11px;" role="button">VIEW ALL</a>
    </div>
</div>
{% endblock content %}

{% block javascript %}
{% if debug %}
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/vegas.min.js' %}"></script>
<script src="{% static 'js/vue-awesome-swiper.js' %}"></script>
{% else %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.5.1/vegas.min.js" integrity="sha512-Bmv8OphSOBca3B+9fmuXfFBTZF4f3dy98T3mEvJHPt3ab4SIbbclYzJJ2//ldUcx6bG2iiFxxWu+CL87StEqDg==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-awesome-swiper@4.1.1/dist/vue-awesome-swiper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js" integrity="sha512-VHsNaV1C4XbgKSc2O0rZDmkUOhMKPg/rIi8abX9qTaVDzVJnrDGHFnLnCnuPmZ3cNi1nQJm+fzJtBbZU9yRCww==" crossorigin="anonymous"></script>
{% endif %}
<script src="{% static 'js/vue-awesome-swiper.js' %}"></script>
<script type="text/javascript">
    $("#home-slideshow").vegas({
        slides: [
            { src: "{% static 'image/background/background.jpg' %}" },
            { src: "{% static 'image/background/background2.jpg' %}" },
            { src: "{% static 'image/background/background3.jpg' %}" },
            { src: "{% static 'image/background/background4.jpg' %}" },
        ],
        transition: ['zoomOut', 'flash'],
        delay: 10000,
        shuffle: true,
        transitionDuration: 2000,
        overlay: "{% static '/js/overlays/03.png' %}"
        {% comment %} animation: 'kenburnsDownRight' {% endcomment %}
    });
    $('.vegas-timer').addClass('d-none')
    $('.vegas-content-scrollable').addClass('d-flex align-items-end justify-content-start p-md-5 py-5 px-4 w-100')
    Vue.use(VueAwesomeSwiper)
    const index = new Vue({
        el: '#index',
        store: store,
        delimiters: ['[[', ']]'],
        data (){
            return {
                swiperOptions: {
                    grabCursor: true,
                    loop: false,
                    pagination: {
                        el: '.swiper-pagination',
                        dynamicBullets: true,
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev'
                    },
                    breakpoints: {
                        1024: {
                            slidesPerView: 4,
                        },
                        768: {
                            slidesPerView: 3,
                        },
                        320: {
                            slidesPerView: 2,
                            {% comment %} spaceBetween: 10 {% endcomment %}
                        },
                    }
                },
                swiperoptionsmid: {
                    grabCursor: true,
                    loop: false,
                    pagination: {
                        el: '.swiper-pagination',
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev'
                    },
                    breakpoints: {
                        1024: {
                            slidesPerView: 3,
                            spaceBetween: 10
                        },
                        768: {
                            slidesPerView: 3,
                            spaceBetween: 10,
                        },
                        320: {
                            slidesPerView: 1,
                            {% comment %} spaceBetween: 10 {% endcomment %}
                        },
                    }
                }
            }
        },
        mounted(){
            window.scrollTo(0, 0);
        },
        computed: {
            numItems: function(){
                return store.state.numItems;
            },
        },
        methods: {
            ingscroll(){
                console.log("hi")
            },
        }

    });
</script>
{% endblock javascript %}
