{% extends 'base.html' %}
{% load static %}
{% load extras %}
{% block style %}
<style>
    h3 {
        position: relative;
        line-height: 1.2em;
    }
    h3:before {
        position: absolute;
        top: 1.2em;
        height: 0;
        width: 25%;
        content: '';
        margin-top:5px;
        margin-buttom:5px;
        border-top: 2px solid #969ca0;
    }
    .opaque {
        opacity: 0.4;
    }
    .swiper-container {
        
    }
    img {
        image-rendering: -webkit-optimize-contrast;
    }
    .swiper-button-next:after, 
    .swiper-container-rtl,
    .swiper-button-prev:after{
        content: none;
    }
    .swiper-button-next, 
    .swiper-button-prev{
        border-radius: 100%;
    }
    .swiper-pagination-bullet{
        background: transparent;
        opacity: .8;
        border: 1px solid black;
    }
    .swiper-pagination-bullet-active{
        background: #000;
    }
</style>
{% endblock style %}
{% block content %}
{{ request.session.cart }}
<div id="productappdetail" class="container">
    <div v-if="has_content" class="mb-4">
        <div class="row no-gutters justify-content-between">
            <div class="col-12 col-md-5 order-0" style="min-height:400px;">
                <div
                    class="productimages h-100"
                    v-swiper:productimages="productimagesoptions"
                    @click-slide="onSwiperClickSlide"
                    @slide-change-transition-start="onSwiperSlideChangeTransitionStart"
                    v-if="change"
                    data-aos="zoom-in"
                >
                    <div class="swiper-wrapper">
                        <div class="swiper-slide text-center" v-for="(img, index) in selected_product.images" :key="index">
                            <div class="swiper-zoom-container">
                                <img :data-src="img.file" class="swiper-lazy">
                                <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination main-detail swiper-pagination-bullets" v-show="product.variant.selected_product_images_count > 1"></div>
                </div>
            </div>
            <div class="jumbotron py-0 mb-0 px-3 col-12 order-2 order-md-1 col-md-6 mt-3 overflow-auto" data-aos="fade" style="max-height:400px;">
                <div class="d-inline-block"><span v-html="product.description"></span></div>
            </div>
            <div class="col-12 col-md-5 px-0 my-2 order-1 m-md-0 order-md-2 overflow-hidden">
                <transition appear enter-active-class="animate__animated animate__fadeInLeftBig">
                    <div class="d-flex flex-wrap" v-if="products.length > 1">
                        <div class="mr-2 p-1" v-for="(img, index) in products" style="cursor:pointer;" :class="{ 'border border-dark' : product.selectedVariant === index, opaque : product.selectedVariant !== index }" :key="index">
                            <img :src="img.images[0].thumbnail" @click="change_selected_product(index)">
                        </div>
                    </div>
                </transition>
                <div class="mb-4 font-weight-bold d-block" style="min-height:174px;">
                    <transition enter-active-class="animate__animated animate__fadeIn">
                        <div v-if="!changeText" class="text-monospace">
                            <p> [[ selected_product.color ]]</p>
                            <p class=""> [[ product.name ]]</p>
                            <p class="mb-0"> [[ selected_product.price|currency ]]</p>
                            <small class="text-muted"> VAT not included </small> 
                            <div class="d-flex flex-wrap my-2" v-if="product.variant.currentSize !== 'None'">
                                <button v-for="(size, index) in selected_product.metas" class="btn btn-transparent btn-outline-dark rounded-0 mr-2" :class="{active : product.variant.currentSize == size.size}" @click="changeSize(index)">
                                    [[ size.size ]]
                                </button>
                            </div>
                        </div>
                    </transition>
                </div>
                <transition appear mode="out-in" leave-active-class="animate__animated animate__fadeOut" enter-active-class="animate__animated animate__fadeIn">
                    <button class="btn btn-lg btn-block rounded-0" v-if="!product.variant.inCart" :class="{'btn-warning': outofstock, 'btn-success': !product.variant.inCart}" :style="{cursor:cssCursor}" :disabled="outofstock || disabled" v-html="message" @click="addToCart(selected_product.id)">
                    </button>
                    <button class="btn btn-lg btn-block btn-danger rounded-0" v-else :disabled="disabled" @click="removeFromCart(selected_product.id)">
                        Remove from cart <i class="fas fa-trash-alt text-white"></i> ([[ product.variant.quantity ]])
                    </button>
                </transition>
            </div>
            <div class="my-3 mx-0 col-md-6 order-3 order-md-3">
                <h5 class="text-uppercase font-weight-bold">you might also like</h5>
                <div
                    class="swiper pb-4 px-lg-4 h-100"
                    v-swiper:swiper="swiperOptions"
                    @click-slide="onSwiperClickSlide"
                    @slide-change-transition-start="onSwiperSlideChangeTransitionStart"
                    data-aos="fade-up"
                >
                    <div class="swiper-wrapper">
                        <div class="swiper-slide card bg-transparent border-0" v-for="product in similiar_products" :key="product.id">
                            <div class="d-flex bg-transparent align-items-center justify-content-center overflow-hidden" style="min-height:230px;">
                                <a :href="product.url"><img :data-src="product.first_variant.first_image.file" class="swiper-lazy img-fluid  mx-auto card-img-top"></a>
                                <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                            </div>
                            <div class="card-body text-monospace py-0">
                                <h5 class="card-title text-center mb-0 small">[[ product.name ]]</h5>
                                <span class="d-flex justify-content-center" style="font-size:10px;">
                                    <del class="card-text text-danger" v-if="product.first_variant.old_price"></del>
                                    <p class="align-text-bottom card-text font-weight-bolder">&nbsp;[[ product.first_variant.price|currency ]]</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="d-none justify-content-start align-items-center remove-outline swiper-button-prev" :class="{'d-lg-flex' : similiar_products.length > 3}" v-show="similiar_products.length > 1">
                        <i class="fas text-black-50 fa-2x fa-angle-left"></i>
                    </div>
                    <div class="d-none justify-content-end align-items-center remove-outline swiper-button-next" :class="{'d-lg-flex' : similiar_products.length > 3}" v-show="similiar_products.length > 1">
                        <i class="fas text-black-50 fa-2x fa-angle-right"></i>
                    </div>
                    <div class="swiper-pagination swiper-pagination-bullets" v-show="similiar_products.length > 2"></div>
                </div>
            </div>
        </div>
    </div>
    <div v-else>
        <p class="text-center">Page Not Found.</p>
    </div>
</div>
{% endblock content %}
{% block javascript %}
{% if debug %}
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/vue-awesome-swiper.js' %}"></script>
{% else %}
<script src="https://cdn.jsdelivr.net/npm/vue-awesome-swiper@4.1.1/dist/vue-awesome-swiper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js" integrity="sha512-VHsNaV1C4XbgKSc2O0rZDmkUOhMKPg/rIi8abX9qTaVDzVJnrDGHFnLnCnuPmZ3cNi1nQJm+fzJtBbZU9yRCww==" crossorigin="anonymous"></script>
{% endif %}
<script src="{% static 'js/vue-awesome-swiper.js' %}"></script>
<script>
    Vue.use(VueAwesomeSwiper)
    const productappdetail = new Vue({
        delimiters: ['[[', ']]'],
        el: '#productappdetail',
        store: store,
        data (){
            return {
                product: {
                    name: "",
                    type: "",
                    description: "",
                    selectedVariant: 0,
                    variant: {
                        currentSize: "",
                        quantity: undefined,
                        selectedThumbnail: 0,
                        selected_product_images_count: 0,
                        inCart: undefined,

                    },
                },
                products: [],
                selected_product: [],
                similiar_products: [],
                
                change: true,
                changeText: false,
                cssCursor: "pointer",
                disabled: false,
                has_content: true,
                swiperOptions: {
                    grabCursor: true,
                    lazy: true,
                    preloadImages: false,
                    watchSlideVisibility: true,
                    autoplay: {
                        delay: 3000,
                        disableOnInteraction: false,
                    },
                    pagination: {
                        el: '.swiper-pagination',
                        dynamicBullets: true,
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev'
                    },
                    breakpoints: {
                        1024: {
                            slidesPerView: 3,
                            spaceBetween: 10
                        },
                        768: {
                            slidesPerView: 2,
                            spaceBetween: 10
                        },
                        320: {
                            slidesPerView: 2,
                            spaceBetween: 10
                        },
                    }
                },
                productimagesoptions: {
                    grabCursor: true,
                    lazy: true,
                    preloadImages: false,
                    effect: 'fade',
                    watchSlideVisibility: true,
                    fadeEffect: {
                        crossFade: true,
                    },
                    {% comment %} loop: false, {% endcomment %}
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    },
                }
            }
        },
        created(){
            AOS.init();
            this.getProduct();
        },
        filters: {
            currency: function(value){
                if (!value) return ''
                value = formatter.format(value)
                return value
            },
        },
        mounted(){
        },
        updated(){
            AOS.refreshHard();
        },
        beforeMount(){
        },
        watch: {
        },
        computed: {
            outofstock: function(){
                if(this.selected_product.length !== 0){
                    if (this.product.variant.currentSize !== 'None'){
                        for(let i=0; i < this.selected_product.metas.length; i++){
                            if (this.selected_product.metas[i]['size'] === this.product.variant.currentSize){
                                if(this.selected_product.metas[i].stock <= 0){
                                    return true
                                }    
                            }
                        }
                    }
                    else{
                        if(this.selected_product.stock <= 0){
                            return true
                        }
                    }
                    return false
                }
                return undefined
            },
            message: function(){
                if(this.outofstock) {
                    this.cssCursor = "not-allowed"
                    return "Out of stock"
                }else if(this.disabled){
                    this.cssCursor = "not-allowed"
                    return "<span class='spinner-border spinner-border-sm p-2' role='status' aria-hidden='true'></span> Add to cart <i class='fas fa-cart-plus'></i>"
                }else{
                    this.cssCursor = "pointer"
                    return "Add to cart <i class='fas fa-cart-plus'></i>"
                }
            },
            ...Vuex.mapGetters([
                'cartproducts',
            ]),
        },
        methods: {
            getProduct(){
                var x = window.location.href.split("/").splice(-3, 2)
                endpoint = "/shop/api/" + x[0] + "s/" + x[1]
                fetch(endpoint)
                .then(response => {
                    return response.json();
                })
                .then(jsonData => {
                    if (jsonData["detail"] === undefined){
                        this.product.name = jsonData.name
                        this.product.type = jsonData.product.toLowerCase()
                        this.product.description = jsonData.description
                        this.products = jsonData.variants
                        this.selected_product = this.products[0]
                        this.similiar_products = jsonData.similiar_products
                        this.product.variant.selected_product_images_count = this.selected_product.images.length
                        try {
                            this.product.variant.currentSize = this.selected_product.metas[0].size
                        }
                        catch(e){
                            this.product.variant.currentSize = "None"
                        }
                        this.inCartMethod()
                        setTimeout( function(){
                            this.productimages.lazy.load();
                            this.swiper.lazy.load();
                        }.bind(this), 1000);
                    }
                    else{
                        this.has_content = false
                    }
                })
                .catch(function (error){
                    console.log(error);
                })
            },
            addToCart(product_id){
                this.disabled = true
                let data = {'product_id': product_id,
                            'size': this.product.variant.currentSize,
                            'update': false,
                            'quantity': 1,
                            'type': this.product.type
                        };
                fetch("{% url 'cart:cart-add' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    }, 
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    store.commit('increment', 1)
                    setTimeout( function(){
                        this.disabled = false
                    }.bind(this), 2000)
                })
                .catch(function (error){
                    console.log(error);
                })
            },
            removeFromCart(product_id){
                this.disabled = true
                let data = {'product_id': product_id,
                            'size': this.product.variant.currentSize, 
                            'quantity': parseInt(this.product.variant.quantity),
                            'type': this.product.type

                };
                store.commit('increment', -parseInt(this.product.variant.quantity));
                fetch("{% url 'cart:cart-remove' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    }, 
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    index = this.cartItems[this.product.type][product_id]['size'].indexOf(this.product.variant.currentSize)
                    this.cartItems[this.product.type][product_id]['size'].splice(index, 1)
                    this.cartItems[this.product.type][product_id]['quantity'].splice(index, 1)
                    setTimeout( function(){
                        this.inCartMethod()
                        this.disabled = false
                    }.bind(this), 2000)
                })
                .catch(function (error){
                    console.log(error);
                })
            },
            changeSize(index){
                if (this.selected_product.metas[index].size !== this.product.variant.currentSize){
                    this.product.variant.currentSize = this.selected_product.metas[index].size
                    this.inCartMethod()
                }
            },
            {% comment %} inCartMethod(){
                if(this.selected_product.id in this.cartItems[this.product.type]){
                    size = (_.get(this.cartItems[this.product.type], this.selected_product.id))['size']
                    if (size.includes(this.product.variant.currentSize)){
                        this.product.variant.quantity = (_.get(this.cartItems[this.product.type], this.selected_product.id))['quantity'][size.indexOf(this.product.variant.currentSize)]
                        this.product.variant.inCart = true
                    }else{
                        this.product.variant.inCart = false
                    }
                }else{
                    this.product.variant.inCart = false
                }
                console.log("pass")
            }, {% endcomment %}

            change_selected_product(index){
               if (this.products[index] !== this.selected_product){
                    this.change = false
                    this.changeText = true
                    this.selected_product = this.products[index]
                    this.product.variant.currentSize = this.selected_product.metas[0].size
                    this.product.variant.selected_product_images_count = this.selected_product.images.length
                    this.product.selectedVariant = index
                    this.inCartMethod()
                    setTimeout( function(){
                        this.changeText = false
                        this.change = true
                    }.bind(this), 1000)
                } 
            },
            onSetTranslate() {
                {% comment %} console.log('onSetTranslate') {% endcomment %}
            },
            onSwiperSlideChangeTransitionStart() {
                {% comment %} console.log('onSwiperSlideChangeTransitionStart') {% endcomment %}
            },
            onSwiperClickSlide(index, reallyIndex) {
                {% comment %} console.log('Swiper click slide!', reallyIndex, index) {% endcomment %}
            }
        }
    });
</script>
{% endblock javascript %}
