{% extends 'base.html' %}
{% load extras %}
{% load static %}

{% block style %}
    <style>
        .add-to-cart:focus, .add-to-cart:active{
            outline: none !important;
            box-shadow: none !important;
        }
        .lds-ellipsis {
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;
        }
        .lds-ellipsis div {
            position: absolute;
            top: 36px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #b91515;
            animation-timing-function: cubic-bezier(0,1,1,0);

        }
        .lds-ellipsis div:nth-child(1) {
            left: 8px;
            animation: lds-ellipsis1 0.6s infinite;
        }
        .lds-ellipsis div:nth-child(2) {
            left: 8px;
            animation: lds-ellipsis2 0.6s infinite;
        }
        .lds-ellipsis div:nth-child(3) {
            left: 32px;
            animation: lds-ellipsis2 0.6s infinite;
        }
        .lds-ellipsis div:nth-child(1) {
            left: 56px;
            animation: lds-ellipsis3 0.6s infinite;
        }

        .swiper-slide:hover {
            transform: scale(1.05)
        }
        .swiper-slide:hover {
            transition: transform .5s ease;
        }

        @keyframes lds-ellipsis1 {
            0% {
                transform: scale(0);
            }
            100%{
                transform: scale(1);
            }

        }
        @keyframes lds-ellipsis3 {
            0% {
                transform: scale(1);
            }
            100%{
                transform: scale(0);
            }

        }
        @keyframes lds-ellipsis2 {
            0% {
                transform: translate(0, 0);
            }
            100%{
                transform: translate(24px, 0);
            }

        }

    </style>
{% endblock style %}
{% block content %}
<div id="productapp" class="container d-flex flex-column flex-grow-1">
    <div v-if="has_content" class="mb-4">
        <div class="my-4">
            <span >{{ title }}</span>
        </div>
        <div class="row">
            <div class="accordion col-12" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn dropdown-toggle" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Filters
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="row card-body">
                            <div class="col-sm-4 col-4">
                                <div class="form-group">
                                    <label for="colors">Colors</label>
                                    <colors-dropdown
                                        v-bind:colors="colors"
                                        v-on:sort="sortProducts"
                                    ></colors-dropdown>
                                </div>    
                            </div>
                            <div class="col-sm-4 col-4">
                                <div class="form-group">
                                    <label for="sort">Sort</label>
                                    <select class="form-control" @change="order($event)" id="sort_by">
                                        <option class="small" disabled="disabled" selected value="none">Choose option</option>
                                        <option class="small" value='name'>ALPHABETICALLY, A-Z</option>
                                        <option class="small" value='-name'>ALPHABETICALLY, Z-A</option>
                                        <option class="small" value='variants__price'>PRICE, LOW TO HIGH</option>
                                        <option class="small" value='-variants__price'>PRICE, HIGH TO LOW</option>
                                        <option class="small" value='created_at'>DATE, OLD TO NEW</option>
                                        <option class="small" value='-created_at'>DATE, NEW TO OLD</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3 col-3">
                                <div class="row justify-content-center align-self-center" style="color:white;margin-top:30px;">
                                    <a class="btn btn-secondary" id="display_all" @click="reset">Reset</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-12 my-5 d-flex justify-content-center" v-if="loading">
            <div class="spinner-border text-dark m-1 text-danger" style="width:30px;height:30px;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div class="container-fluid" v-infinite-scroll="loadMore" infinite-scroll-disabled="busy">
            <transition-group appear tag="div" v-bind:css="false" v-on:before-enter="beforeEnter" v-on:enter="enter" class="row no-gutters justify-content-md-around">
                <product-card
                    v-if="!loading"
                    v-for="(product, index) in products"
                    v-bind:key="product.sku"
                    v-bind:id="product.id"
                    v-bind:name="product.name"
                    v-bind:price="product.first_variant.price"
                    {% comment %} v-bind:oldprice="product.old_price" {% endcomment %}
                    v-bind:colors="product.colors"
                    v-bind:color="product.first_variant.color"
                    v-bind:slug="product.slug"
                    v-bind:product="product.product"
                    v-bind:image="product.first_variant.first_image.file"
                    v-bind:data-index="index"
                ></product-card>    
            </transition-group>

            <div class="d-flex justify-content-center" style="display:none;" v-if="busy">
                <div class="m-1 animate__animated animate__rubberBand bg-danger animate__infinite rounded animate__fast" style="height:10px;width:8px;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="animate__animated animate__rubberBand m-1 bg-warning animate__infinite rounded animate__fast" style="height:10px;width:8px;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="animate__animated animate__rubberBand m-1 bg-success animate__infinite rounded animate__fast" style="height:10px;width:8px;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <div v-else class="d-flex my-auto flex-column justify-content-center animate__animated animate__fadeIn animate__delay-2s animate__slow align-items-center">
        <div class="bg-dark mb-4 p-3 rounded-circle">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash2-fill display-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.037 3.225l1.684 10.104A2 2 0 0 0 5.694 15h4.612a2 2 0 0 0 1.973-1.671l1.684-10.104C13.627 4.224 11.085 5 8 5c-3.086 0-5.627-.776-5.963-1.775z"/>
                <path fill-rule="evenodd" d="M12.9 3c-.18-.14-.497-.307-.974-.466C10.967 2.214 9.58 2 8 2s-2.968.215-3.926.534c-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466zM8 5c3.314 0 6-.895 6-2s-2.686-2-6-2-6 .895-6 2 2.686 2 6 2z"/>
            </svg>
        </div>
        <p>No item found.</p>
    </div>
</div>          
{% endblock content %}

{% block javascript %}
{% if debug %}
<script src="{% static 'js/vue-infinite-scroll.js' %}"></script>
{% else %}
<script src="https://cdn.jsdelivr.net/npm/vue-infinite-scroll@2.0.2/vue-infinite-scroll.min.js"></script>
{% endif %}
<script>
    Vue.component('colors-dropdown', {
        delimiters: ['[[', ']]'],
        data: function(){
            return {
            }            
        },
        props: [
            "colors",
        ],
        mounted(){
        },
        template: `
                    <select class="form-control" id="colors" @change="$emit('sort', ($event))">
                        <option selected="true" class="small" value="all">All</option>
                        <option v-for="color in colors" :value="color" class="small" :style="{backgroundColor: color}"><p>[[color]]</p></option>
                    </select>
                `

    })

    Vue.component('product-card', {
        delimiters: ['[[', ']]'],
        store: store,
        props: ["id", 
                "name", 
                "slug",  
                "price", 
                "oldprice", 
                "image",
                "color",
                "colors",
                "size", 
                "stock",
                "product", 
            ],
        data: function(){
            return {
                showMessage: false,
                url: "{% if sub_category_slug %}{% url 'shop:sub-collection-detail' category_slug sub_category_slug 1 0 %}".replace(0, this.slug).replace(1, this.product.toLowerCase()) + "{% else %}{% url 'shop:collection-detail' category_slug 1 0 %}{% endif %}".replace(0, this.slug).replace(1, this.product.toLowerCase()),
            }            
        },
        computed: { 
        },
        filters: {
            currency: function(value){
                if (!value) return ''
                value = formatter.format(value)
                return value
            },
        },
        mounted() {
        },
        methods: {
        }, 
        template: `                        
                    <div id="" class="px-1 col-6 col-md-3 col-lg-2">
                        <a :href=url class="d-flex h-100 flex-column"> 
                            <div data-aos="zoom-in" class="card flex-grow-1 border-0 bg-transparent d-flex justify-content-center align-items-center lazy-container" style="min-height:210px;">
                                <img :data-src="image" class="card-img-top img-fluid lazy-image">
                                <div class="lds-ellipsis text-dark spinner">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="card-body mt-2 p-0 w-100 flex-grow-0">
                                    <div class="d-flex mb-2 justify-content-start">
                                        <span v-for="color, index in colors" :key="color" class="" :class="{'mx-1' : index !== 0}" style="height:7px;width:7px;" :style="{backgroundColor : color}"></span>
                                    </div>
                                    <p class="card-title mb-0 text-monospace" style="font-size:10px;font-weight:600;">  
                                        [[ color ]]
                                        <br> [[ name ]] <br>
                                        [[ price|currency ]]  
                                    </p>
                                </div>
                            </div>    
                        </a>
                    </div>                    
                `
    })

    const productapp = new Vue({
        delimiters: ['[[', ']]'],
        el: '#productapp',
        store: store,
        data (){
            return {
                products: [],
                sortedProducts: [],
                colors: null,
                previous: null,
                counter: 0,
                loading: true,
                busy: false,
                selectedColor: "all",
                selectedOrder: "name",
                has_content: true,
                lazyLoading: true,
            }
        },
        created(){
            AOS.init();
            this.getFilters();
            this.getproducts()
        },
        updated(){
            AOS.refreshHard();
        },
        beforeUpdate(){
        },
        mounted(){
        },
        computed: {
            get_total_price: function(){
                return store.state.get_total_price;
            },
            has_next: function(){
                if(this.next !== null){
                    return true
                }else{
                    return false
                }
            },
            has_previous: function(){
                if(this.previous !== null){
                    return true
                }else{
                    return false
                }
            }, 
            has_contjent: function(){
                return this.products.length > 0
            },
            endpoint: function(){
                var x = window.location.href.split("/")
                var y = x.slice(5, (x.length - 1))
               if (y[0] === 'all-products'){
                    if (y.length > 1){
                        return "/shop/api/" + y[0] + "/category/" + y[1]
                    }
                    return "/shop/api/" + y[0]
               }
               else if (y[0] === 'wave-cap-collections'){
                    if (y.length > 1){
                        return "/shop/api/wavecaps/category/" + y[1]
                    }
                    return "/shop/api/wavecaps"
               }
               else if (y[0] === 'cargo-collections'){
                    if (y.length > 1){
                        return "/shop/api/trousers/category/" + y[1]
                    }
                    return "/shop/api/trousers"
               }
            }
        },
        methods: {
            sortProducts(e){
                this.selectedColor = e.target.value
                this.getproducts()

            },
            order(e){
                this.selectedOrder = e.target.value
                this.getproducts()
            },
            getproducts(){
                this.loading = true
                let url = this.endpoint + "?color=" + this.selectedColor + "&order_by=" + this.selectedOrder
                fetch(url, {
                    method: 'GET',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'Content-Type': 'application/json',
                    },
                })
                .then(response => {
                    return response.json();
                })
                .then(jsonData => {
                    if (jsonData["detail"] === undefined){
                        this.products = jsonData.results
                        this.next = jsonData.next
                        this.counter += jsonData.count
                        setTimeout( function(){
                            this.loading = false
                            window.addEventListener("scroll", _.debounce(this.lazyLoad, 200));
                        }.bind(this), 2000)
                    }
                    else{
                        this.has_content = false
                    }
                })
                .catch((error) => {
                    console.log(error);
                })
            },
            loadMore(){
                if (this.has_next === true && false){
                    this.busy = true;
                    fetch(this.next, {
                        method: 'GET',
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                            'Content-Type': 'application/json',
                        },
                    })
                    .then((response) => {
                        return response.json();
                    })
                    .then((jsonData) => {
                        if (jsonData["detail"] != "Not found."){
                            this.products = this.products.concat(jsonData.results)
                            temp = jsonData.results
                            this.next = jsonData.next
                            this.counter += jsonData.count
                            setTimeout( function(){
                                this.sortTemp(temp)
                                this.orderTemp(temp)
                                if (this.sortedShouldRender && this.sortedProducts.length === 0 && this.has_next){
                                    this.loadMore()
                                }else if (this.orderShouldRender && this.orderProducts.length === 0 && this.has_next){
                                    this.loadMore()
                                }
                                this.loading = false
                                this.busy = false
                                window.addEventListener("scroll", _.debounce(this.lazyLoad, 200));
                            }.bind(this), 2000)
                        }
                        else{
                            this.has_content = false
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    })
                }
            },
            getFilters(){
                fetch('/shop/api/colors/')
                .then(res => {
                    return res.json()
                })
                .then(response => {
                    this.colors = response
                })
                .catch(error => {
                    console.log(error)
                })
            },
            reset(){
                this.sortProducts("all")
            },
            beforeEnter: function (el) {
                el.style.opacity = 0
            },
            enter: function(el, done){
                this.lazyLoad()
                var delay = el.dataset.index * 100
                setTimeout(function(){
                    el.style.opacity = 1
                    el.classList.add("animate__animated", "animate__jackInTheBox")
                    el.addEventListener('animationend', ()=> {
                        el.classList.remove('animate__animated', 'animate__jackInTheBox');
                    })    
                }, delay)
            },
            lazyLoad(){
                let lazyImages = [].slice.call(document.querySelectorAll("div.lazy-container"));
                if (lazyImages.length > 0){
                    let active = false;
                    if (active === false){
                        active = true;
                        setTimeout( function() {
                            lazyImages.forEach(function(lazyImageTemp, index){
                                let lazyImage = lazyImageTemp.querySelector("img.lazy-image")
                                if ((lazyImage.getBoundingClientRect().top <= window.innerHeight && lazyImage.getBoundingClientRect().bottom >= 0) && getComputedStyle(lazyImage).display !== "none"){
                                    setTimeout( function(){
                                        try {
                                            lazyImageTemp.getElementsByClassName("spinner")[0].remove();
                                        }
                                        catch(err) {
                                        }
                                        lazyImage.src = lazyImage.dataset.src;
                                    }, index * 100)
                                    lazyImageTemp.classList.remove("lazy-container");
                                    lazyImages = lazyImages.filter(function (image){
                                        return image !== lazyImageTemp;
                                    });
                                    if (lazyImages.length == 0) {
                                        window.removeEventListener("scroll", this.lazyLoad);
                                    }
                                }
                            });
                            active = false;
                        }.bind(this), 200);
                    }
                }else {
                    window.removeEventListener("scroll", this.lazyLoad);
                }
            },
        },
        
    });
</script>
{% endblock javascript %}