{% extends 'base.html' %}
{% load extras %}
{% load static %}

{% block style %}
    <style>
        .add-to-cart:focus, .add-to-cart:active{
            outline: none !important;
            box-shadow: none !important;
        }
        .lds-ellipsis {
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;
        }
        .lds-ellipsis div {
            position: absolute;
            top: 36px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #b91515;
            animation-timing-function: cubic-bezier(0,1,1,0);

        }
        .lds-ellipsis div:nth-child(1) {
            left: 8px;
            animation: lds-ellipsis1 0.6s infinite;
        }
        .lds-ellipsis div:nth-child(2) {
            left: 8px;
            animation: lds-ellipsis2 0.6s infinite;
        }
        .lds-ellipsis div:nth-child(3) {
            left: 32px;
            animation: lds-ellipsis2 0.6s infinite;
        }
        .lds-ellipsis div:nth-child(1) {
            left: 56px;
            animation: lds-ellipsis3 0.6s infinite;
        }
        @keyframes lds-ellipsis1 {
            0% {
                transform: scale(0);
            }
            100%{
                transform: scale(1);
            }

        }
        @keyframes lds-ellipsis3 {
            0% {
                transform: scale(1);
            }
            100%{
                transform: scale(0);
            }

        }
        @keyframes lds-ellipsis2 {
            0% {
                transform: translate(0, 0);
            }
            100%{
                transform: translate(24px, 0);
            }

        }

    </style>
{% endblock style %}
{% block content %}
<div id="trouserapp" class="container d-flex flex-column flex-grow-1">
    <div v-if="has_content" class="mb-4">
        <div class="my-4">
            <span >{{ title }}</span>
        </div>
        <div class="row">
            <div class="accordion col-12" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn dropdown-toggle" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Filters
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="row card-body">
                            <div class="col-sm-4 col-4">
                                <div class="form-group">
                                    <label for="colors">Colors</label>
                                    <colors-dropdown
                                        v-bind:colors="colors"
                                        v-on:sort="sortTrousers"
                                    ></colors-dropdown>
                                </div>    
                            </div>
                            <div class="col-sm-4 col-4">
                                <div class="form-group">
                                    <label for="sort">Sort</label>
                                    <select class="form-control" @change="order($event)" id="sort_by">
                                        <option disabled="disabled" selected value = "none">Choose option</option>
                                        <option value='featured'>FEATURED</option>
                                        <option value='bestseller'>BESTSELLER</option>
                                        <option value='name'>ALPHABETICALLY, A-Z</option>
                                        <option value='-name'>ALPHABETICALLY, Z-A</option>
                                        <option value='price'>PRICE, LOW TO HIGH</option>
                                        <option value='-price'>PRICE, HIGH TO LOW</option>
                                        <option value='date'>DATE, OLD TO NEW</option>
                                        <option value='-date'>DATE, NEW TO OLD</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3 col-3">
                                <div class="row justify-content-center align-self-center" style="color:white;margin-top:30px;">
                                    <a class="btn btn-secondary" id="display_all" @click="reset">Reset</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-12 my-5 d-flex justify-content-center" v-if="loading">
            <div class="spinner-border text-dark m-1 text-danger" style="width:30px;height:30px;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div class="container-fluid" v-infinite-scroll="loadMore" infinite-scroll-disabled="busy">
            <transition-group appear tag="div" v-bind:css="false" v-on:before-enter="beforeEnter" v-on:enter="enter" class="row no-gutters">
                <trouser-card
                    v-if="sortedShouldRender && !loading"
                    v-for="(trouser, index) in sortedTrousers"
                    v-bind:key="trouser.first_variant.id"
                    v-bind:id="trouser.first_variant.id"
                    v-bind:name="trouser.name"
                    v-bind:price="trouser.first_variant.price"
                    {% comment %} v-bind:oldprice="trouser.old_price" {% endcomment %}
                    v-bind:color="trouser.first_variant.color"
                    v-bind:slug="trouser.slug"
                    v-bind:image="trouser.first_variant.first_image.file"
                    v-bind:size="trouser.first_variant.first_meta.size"
                    v-bind:stock="trouser.first_variant.first_meta.stock"
                    v-bind:data-index="index"
                ></trouser-card>

                <trouser-card
                    v-if="colorSort && !loading"
                    v-for="(trouser, index) in sortedOrderTrousers"
                    v-bind:key="trouser.first_variant.id"
                    v-bind:id="trouser.first_variant.id"
                    v-bind:name="trouser.name"
                    v-bind:price="trouser.first_variant.price"
                    {% comment %} v-bind:oldprice="trouser.old_price" {% endcomment %}
                    v-bind:color="trouser.first_variant.color"
                    v-bind:slug="trouser.slug"
                    v-bind:image="trouser.first_variant.first_image.file"
                    v-bind:size="trouser.first_variant.first_meta.size"
                    v-bind:stock="trouser.first_variant.first_meta.stock"
                    v-bind:data-index="index"
                ></trouser-card>

                <trouser-card
                    v-if="orderShouldRender && !loading"
                    v-for="(trouser, index) in orderTrousers"
                    v-bind:key="trouser.first_variant.id"
                    v-bind:id="trouser.first_variant.id"
                    v-bind:name="trouser.name"
                    v-bind:price="trouser.first_variant.price"
                    {% comment %} v-bind:oldprice="trouser.old_price" {% endcomment %}
                    v-bind:color="trouser.first_variant.color"
                    v-bind:slug="trouser.slug"
                    v-bind:image="trouser.first_variant.first_image.file"
                    v-bind:size="trouser.first_variant.first_meta.size"
                    v-bind:stock="trouser.first_variant.first_meta.stock"
                    v-bind:data-index="index"
                ></trouser-card>
            </transition-group>

            <div class="d-flex justify-content-center" style="display:none;" v-if="busy">
                <div class="m-1 animate__animated animate__rubberBand bg-danger animate__infinite rounded animate__fast" style="height:10px;width:8px;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="animate__animated animate__rubberBand m-1 bg-warning animate__infinite rounded animate__fast" style="height:10px;width:8px;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="animate__animated animate__rubberBand m-1 bg-success animate__infinite rounded animate__fast" style="height:10px;width:8px;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <div v-else class="d-flex my-auto flex-column justify-content-center animate__animated animate__fadeIn animate__delay-2s animate__slow align-items-center">
        <div class="bg-dark mb-4 p-3 rounded-circle">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash2-fill display-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.037 3.225l1.684 10.104A2 2 0 0 0 5.694 15h4.612a2 2 0 0 0 1.973-1.671l1.684-10.104C13.627 4.224 11.085 5 8 5c-3.086 0-5.627-.776-5.963-1.775z"/>
                <path fill-rule="evenodd" d="M12.9 3c-.18-.14-.497-.307-.974-.466C10.967 2.214 9.58 2 8 2s-2.968.215-3.926.534c-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466zM8 5c3.314 0 6-.895 6-2s-2.686-2-6-2-6 .895-6 2 2.686 2 6 2z"/>
            </svg>
        </div>
        <p>No item found.</p>
    </div>
</div>          
{% endblock content %}

{% block javascript %}
{% if debug %}
<script src="{% static 'js/vue-infinite-scroll.js' %}"></script>
{% else %}
<script src="https://cdn.jsdelivr.net/npm/vue-infinite-scroll@2.0.2/vue-infinite-scroll.min.js"></script>
{% endif %}
<script>
    Vue.component('colors-dropdown', {
        delimiters: ['[[', ']]'],
        data: function(){
            return {
            }            
        },
        props: [
            "colors",
            "selectedsort",
        ],
        mounted(){
        },
        template: `
                    <select class="form-control" id="colors" @change="$emit('sort', ($event))">
                        <option selected="true" value="all">All</option>
                        <option v-for="color in colors" :value="color" :style="{backgroundColor: color}"><p>[[color]]</p></option>
                    </select>
                `

    })

    Vue.component('trouser-card', {
        delimiters: ['[[', ']]'],
        store: store,
        props: ["id", 
                "name", 
                "slug",  
                "price", 
                "oldprice", 
                "image",
                "color",
                "size", 
                "stock", 
            ],
        data: function(){
            return {
                showMessage: false,
                cartItems: {{ request.session.cart|jsonify }},
                carted: false,
                url: "{% if sub_category_slug %}{% url 'shop:sub-collection-detail' category_slug sub_category_slug 0 %}".replace(0, this.slug) + "{% else %}{% url 'shop:collection-detail' category_slug 0 %}{% endif %}".replace(0, this.slug),
            }            
        },
        computed: {
            inCart: function(){
                for(let i=0; i<=(_.keys(this.cartItems)).length;i++){
                    if ((_.keys(this.cartItems))[i] == this.id){
                        return true
                    }
                }
                return false
            } 
        },
        filters: {
            currency: function(value){
                if (!value) return ''
                value = formatter.format(value)
                return value
            },
        },
        mounted() {
        },
        methods: {
            addToCart(trouser_id, size){
                let data = {'trouser_id':trouser_id,
                            'size': size,
                            'update': false,
                            'quantity': 1,
                        };
                fetch("{% url 'cart:cart-add' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-Requested-With': 'XMLHttpRequest',
                        'X-CSRFToken': '{{ csrf_token }}'
                    }, 
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    this.showMessage = true;
                    this.carted = true;
                    store.commit('increment', 1)
                    setTimeout(()=>{
                        this.showMessage = false
                    }, 2000)
                })
                .catch(function (error){
                    console.log(error);
                })
            },
        }, 
        template: `                        
                    <div id="" class="col-6 col-md-4 col-lg-3">
                        <a :href=url class=""> 
                            <div class="card border-0 bg-transparent d-flex justify-content-center align-items-center lazy-container" style="min-height:210px;">
                                <img :data-src="image" class="card-img-top img-fluid lazy-image">
                                {% comment %} <div class="spinner-grow text-dark spinner spinner-grow-sm" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div> {% endcomment %}
                                <div class="lds-ellipsis text-dark spinner">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <p class="card-title mb-0 text-monospace" style="font-size:10px;font-weight:600;">  
                                    [[ color ]]
                                    <br> [[ name ]] <br>
                                    [[ price|currency ]]  
                                </p>
                            </div>
                        </a>
                        {% comment %} <div v-if="!inCart && !carted">
                            <button @click="addToCart(id, size)" class="btn btn-transparent add-to-cart btn-outline-transparent text-danger rounded-0 pl-0">Add to cart <i class="fas fa-cart-plus"></i></button>
                        </div>
                        <div v-else>
                            <span class="text-success">Trouser in cart</span>
                        </div>
                        <div class="message position-absolute" style="z-index:1000;">
                            <transition enter-active-class="animate__animated animate__slideInDown" leave-active-class="animate__animated animate__bounceOut">
                                <div class="alert alert-success p-1 rounded-0 text-center" role="alert" v-if="showMessage">
                                    <p class="m-0">Added to cart :)</p>
                                </div>
                            </transition>
                        </div> {% endcomment %}
                    </div>                    
                `
    })

    const trouserapp = new Vue({
        delimiters: ['[[', ']]'],
        el: '#trouserapp',
        store: store,
        data (){
            return {
                trousers: [],
                sortedTrousers: [],
                sortedOrderTrousers: [],  
                orderTrousers: [],
                colors: null,
                next: "{% if sub_category_slug %}{% url 'shop:listing' category_slug sub_category_slug %}{% else %}{% url 'shop:listing' category_slug %}{% endif %}",
                previous: null,
                counter: 0,
                loading: true,
                busy: false,
                sortedShouldRender: false,
                orderShouldRender: false,
                colorSort: false,
                selectedColor: "all",
                selectedSort: null,
                has_content: true,
                lazyLoading: true,
            }
        },
        created(){
            console.log("created")

        },
        beforeUpdate(){
            if (this.orderShouldRender && this.sortedShouldRender || this.orderShouldRender && this.colorSort || this.colorSort && this.sortedShouldRender){
                this.colorSort = this.colorSortfn()
                this.sortedOrderTrousers = this.sortedOrderTrousersfn()
            }
        },
        mounted(){
            console.log("mounted")
        },
        updated(){

        },
        computed: {
            get_total_price: function(){
                return store.state.get_total_price;
            },
            has_next: function(){
                if(this.next !== null){
                    return true
                }else{
                    return false
                }
            },
            has_previous: function(){
                if(this.previous !== null){
                    return true
                }else{
                    return false
                }
            }, 
            has_contjent: function(){
                return this.trousers.length > 0
            }
        },
        methods: {
            sortTrousers(e){
                this.loading = true
                let c
                try {
                    c = e.target.value
                }
                catch(err){
                    c = e
                }
                this.selectedColor = c
                if(c !== "all"){
                    let s = _.filter(this.trousers, ({ first_variant }) => first_variant.color === c)
                    this.sortedTrousers= s
                }else if (c === "all") {
                    this.sortedTrousers = this.trousers
                }
                this.sortedShouldRender = true
                setTimeout( function (){
                    this.loading = false
                }.bind(this), 1000)
            },
            order(e){
                this.loading = true
                let c
                try {
                    c = e.target.value
                }
                catch(err){
                    c = e
                }
                this.selectedSort = c
                if(c === "-name"){
                    let s = _.orderBy(this.trousers, ['name'], ['desc'])
                    this.orderTrousers = s
                }else if(c === "name") {
                    let s = _.orderBy(this.trousers, ['name'], ['asc'])
                    this.orderTrousers = s
                }else if(c === "-price") {
                    let s = _.orderBy(this.trousers, ['first_variant.price'], ['desc'])
                    this.orderTrousers = s
                }else if(c === "price") {
                    let s = _.orderBy(this.trousers, ['first_variant.price'], ['asc'])
                    this.orderTrousers = s
                }else if(c === "date") {
                    let s = _.orderBy(this.trousers, ['created'], ['asc'])
                    this.orderTrousers = s
                }else if(c === "-date") {
                    let s = _.orderBy(this.trousers, ['created'], ['desc'])
                    this.orderTrousers = s
                }else if(c === "featured") {
                    let s = _.filter(this.trousers, ({ is_featured }) => is_featured === true)
                    this.orderTrousers = s
                }else if(c === "bestseller") {
                    let s = _.filter(this.trousers, ({ is_bestseller }) => is_bestseller === true)
                    this.orderTrousers = s
                }
                if (c === null){
                  this.orderShouldRender = false  
                }else{
                    this.orderShouldRender = true
                }
                setTimeout( function (){
                    this.loading = false
                }.bind(this), 1000)
            },
            sortTemp(obj){
                c = this.selectedColor
                if(c !== "all"){
                    let s = _.filter(obj, ({ first_variant }) => first_variant.color === c)
                    this.sortedTrousers= this.sortedTrousers.concat(s)
                }else if (c === "all") {
                    this.sortedTrousers= this.sortedTrousers.concat(obj)
                }
                this.sortedShouldRender = true
            },
            orderTemp(obj){
                c = this.selectedSort
                if(c === "-name"){
                    let s = _.orderBy(obj, ['name'], ['desc'])
                    this.orderTrousers = this.orderTrousers.concat(s)
                }else if(c === "name") {
                    let s = _.orderBy(obj, ['name'], ['asc'])
                    this.orderTrousers = this.orderTrousers.concat(s)
                }else if(c === "-price") {
                    let s = _.orderBy(obj, ['first_variant.price'], ['desc'])
                    this.orderTrousers = this.orderTrousers.concat(s)
                }else if(c === "price") {
                    let s = _.orderBy(obj, ['first_variant.price'], ['asc'])
                    this.orderTrousers = this.orderTrousers.concat(s)
                }else if(c === "date") {
                    let s = _.orderBy(obj, ['created'], ['asc'])
                    this.orderTrousers = this.orderTrousers.concat(s)
                }else if(c === "-date") {
                    let s = _.orderBy(obj, ['created'], ['desc'])
                    this.orderTrousers = this.orderTrousers.concat(s)
                }else if(c === "featured") {
                    let s = _.filter(obj, ({ is_featured }) => is_featured === true)
                    this.orderTrousers = this.orderTrousers.concat(s)
                }else if(c === "bestseller") {
                    let s = _.filter(obj, ({ is_bestseller }) => is_bestseller === true)
                    this.orderTrousers = this.orderTrousers.concat(s)
                }
                if (c === null){
                    this.orderTrousers = this.orderTrousers.concat(obj)
                    this.orderShouldRender = false  
                }
            },
            loadMore(){
                if (this.has_next === true ){
                    this.busy = true;
                    fetch(this.next, {
                        method: 'GET',
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                            'Content-Type': 'application/json',
                        },
                    })
                    .then((response) => {
                        return response.json();
                    })
                    .then((jsonData) => {
                        if (jsonData["detail"] != "Not found."){
                            this.trousers = this.trousers.concat(jsonData.results)
                            this.colors = _.sortedUniq(_.map(this.trousers, 'first_variant.color'))
                            temp = jsonData.results
                            this.next = jsonData.next
                            this.counter += jsonData.count
                            setTimeout( function(){
                                this.sortTemp(temp)
                                this.orderTemp(temp)
                                if (this.sortedShouldRender && this.sortedTrousers.length === 0 && this.has_next){
                                    this.loadMore()
                                }else if (this.orderShouldRender && this.orderTrousers.length === 0 && this.has_next){
                                    this.loadMore()
                                }
                                this.loading = false
                                this.busy = false
                                window.addEventListener("scroll", this.lazyLoad);
                            }.bind(this), 2000)
                        }
                        else{
                            this.has_content = false
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    })
                }
            },
            colorSortfn(){
                if ((this.sortedShouldRender == this.orderShouldRender || this.colorSort == this.orderShouldRender || this.colorSort == this.sortedShouldRender)){
                    this.sortedShouldRender = false
                    this.orderShouldRender = false
                    return true
                }else{
                    return false
                }
            },
            sortedOrderTrousersfn(){
                if (this.colorSort){
                    let s
                    temp = _.clone(this.orderTrousers)
                    if (this.selectedColor !== "all"){
                        s = _.filter(temp, ({ first_variant }) => first_variant.color === this.selectedColor)
                    }
                    else{
                        s = temp
                    }
                    return s
                }
                return []
            },
            reset(){
                this.sortedTrousers = []
                this.sortedOrderTrousers = []  
                this.orderTrousers = []
                this.sortedShouldRender = false
                this.orderShouldRender = false
                this.colorSort = false
                this.selectedSort = null
                this.sortTrousers("all")
            },
            beforeEnter: function (el) {
                el.style.opacity = 0
            },
            enter: function(el, done){
                this.lazyLoad()
                var delay = el.dataset.index * 100
                setTimeout(function(){
                    el.style.opacity = 1
                    el.classList.add("animate__animated", "animate__jackInTheBox")    
                }, delay)
            },
            lazyLoad(){
                let lazyImages = [].slice.call(document.querySelectorAll("div.lazy-container"));
                if (lazyImages.length > 0){
                    let active = false;
                    if (active === false){
                        active = true;
                        setTimeout( function() {
                            lazyImages.forEach(function(lazyImageTemp, index){
                                let lazyImage = lazyImageTemp.querySelector("img.lazy-image")
                                if ((lazyImage.getBoundingClientRect().top <= window.innerHeight && lazyImage.getBoundingClientRect().bottom >= 0) && getComputedStyle(lazyImage).display !== "none"){
                                    setTimeout( function(){
                                        try {
                                            lazyImageTemp.getElementsByClassName("spinner")[0].remove();
                                        }
                                        catch(err) {
                                        }
                                        lazyImage.src = lazyImage.dataset.src;
                                    }, index * 100)
                                    lazyImageTemp.classList.remove("lazy-container");
                                    lazyImages = lazyImages.filter(function (image){
                                        return image !== lazyImageTemp;
                                    });
                                    if (lazyImages.length == 0) {
                                        window.removeEventListener("scroll", this.lazyLoad);
                                    }
                                }
                            });
                            active = false;
                        }.bind(this), 200);
                    }
                }else {
                    window.removeEventListener("scroll", this.lazyLoad);
                }
            },
        },

        
    });
</script>
{% endblock javascript %}