{% load static %}
{% load extras %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>{% block title %} Rad {% endblock %}</title>
            <meta name="keywords" content="" />
            <meta name="description" content="" />
            <link rel='shortcut icon' href="{% static 'image/favicon.ico' %}">
            {% if debug %}
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
            <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/all.min.css' %}"> 
            <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
            {% comment %} <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}"> {% endcomment %}
            {% else %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha512-oc9+XSs1H243/FRN9Rw62Fn8EtxjEYWHXRvjS43YtueEewbS6ObfXcJNyohjHqVKFPoXXUxwc+q1K7Dee6vv9g==" crossorigin="anonymous" />            
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.min.css" integrity="sha512-uCQmAoax6aJTxC03VlH0uCEtE0iLi83TW1Qh6VezEZ5Y17rTrIE+8irz4H4ehM7Fbfbm8rb30OkxVkuwhXxrRg==" crossorigin="anonymous" />
            {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css" integrity="sha512-6qkvBbDyl5TDJtNJiC8foyEVuB6gxMBkrKy67XpqnIDxyvLLPJzmTjAj1dRJfNdmXWqD10VbJoeN4pOQqDwvRA==" crossorigin="anonymous" /> {% endcomment %}
            {% endif %}
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
            {% block style %}{% endblock style %}
    </head>
    <body>
        <div class="container-fluid px-0 main-wrapper">    
            <div class="overlayy"></div>
            {% include 'assets/navbar.html' %}
            <!-- Page Content Holder -->
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else%}{{ message.tags }}{% endif %} alert-dismissible fade show position-fixed w-100 animate__animated animate__fadeInDown animate__delay-2s" style="z-index:100;">
                <span>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}<br/>
                </span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            <div class="d-flex flex-column wrapper" style="min-height: 80vh;"> 
            {% block content %}
            {% endblock content %}
            </div>
            <footer class="container-fluid footer p-md-5 p-4 text-white-50 py-3"> 
                <div class="row">
                    <div class="col-md-6">
                        <div class="d-flex"><img src="{% static 'image/favicon.ico' %}" style="width:40px;height:40px;"><h2 class="footer-heading">Rad</h2></div>
                        <p>{% lorem 1 b random %}</p>
                        {% now "Y" as current_year %}
                        <p>Copyright &copy; {{ current_year }}, Rad.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                        <div class="col-md-6">
                            <h4 class="footer-heading">Menu -</h4>
                            <ul class="list-group list-unstyled list-group-flush">
                                <a href="{% url 'menu:trouser_by_category' 'new-arrivals' %}" class="list-group-item list-group-item-action font-weight-bold links bg-transparent small">NEW ARRIVALS</a>
                                <a href="{% url 'menu:trouser_by_category' 'collections' %}" class="list-group-item list-group-item-action font-weight-bold links bg-transparent small">COLLECTIONS</a>
                                <a href="{% url 'menu:trouser_by_category' 'back-in-stock' %}" class="list-group-item list-group-item-action font-weight-bold links bg-transparent small">BACK IN STOCK</a>
                                <a href="{% url 'menu:trouser_by_category' 'bestsellers' %}" class="list-group-item list-group-item-action font-weight-bold links bg-transparent small">BEST SELLERS</a>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h4 class="footer-heading">Quick Links -</h4>
                            <ul class="list-group list-unstyled list-group-flush">
                                <a href="#" class="list-group-item list-group-item-action font-weight-bold links bg-transparent small">ABOUT US</a>
                                <a href="#" class="list-group-item list-group-item-action font-weight-bold links bg-transparent small">CONTACTS</a>
                                <a href="#" class="list-group-item list-group-item-action font-weight-bold links bg-transparent small">TERMS & CONDITIONS</a>
                                <a href="#" class="list-group-item list-group-item-action font-weight-bold links bg-transparent small">PRIVACY POLICY</a>
                            </ul>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4 class="footer-heading">Connect With Us <i class="fas fa-link"></i></h4>
                        <ul class="list-group list-unstyled list-group-horizontal border-0 flex-wrap">
                            <a href="#" target="_blank" class="list-group-item socials list-group-item-action bg-transparent border-0 px-2"><i class="fab fa-instagram shadow-sm disabled" aria-disabled="true"></i></a>
                            <a href="#" target="_blank" class="list-group-item socials list-group-item-action bg-transparent border-0 px-2"><i class="fab fa-twitter shadow-sm disabled" aria-disabled="true"></i></a>
                            <a href="#" target="_blank" class="list-group-item socials list-group-item-action bg-transparent border-0 px-2"><i class="fab fa-facebook shadow-sm disabled" aria-disabled="true"></i></a>
                            <a href="#" target="_blank" class="list-group-item socials list-group-item-action bg-transparent border-0 px-2"><i class="fab fa-whatsapp shadow-sm disabled" aria-disabled="true"></i></a>
                        </ul>
                    </div>
                    <div class="col-md-5 ml-md-auto">
                        <h4> Newsletter</h4>
                        <p> A rover wearing a fuzzy suit doesn't alarm the real penguins</p>
                        <p>
                            <div class ="input-group">
                                <input type="text" class="form-control border-right-0" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-info border-left-0" type="button">
                                        <i class="fas fa-envelope"></i>
                                    </button>
                                </span> 
                            </div>
                    </div>
                </div>
            </footer>
            <div class="loader-wrapper">
                <span class="loader"><span class="loader-inner"></span></span>
            </div>                                
        </div>
        {% if debug %}
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        {% comment %} <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script> {% endcomment %}
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/lodash.min.js' %}"></script>
        <script src="{% static 'js/vue2.js' %}"></script>
        <script src="{% static 'js/vuex.js' %}"></script>
        {% else %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.5.1/vuex.min.js" integrity="sha512-n/iV5SyKXzLRbRczKU75fMgHO0A1DWJSWbK5llLNAqdcoxtUK3NfgfszYpjhvcEqS6nEXwu7gQ5bIkx6z8/lrA==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"></script>
        {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js" integrity="sha512-Yk47FuYNtuINE1w+t/KT4BQ7JaycTCcrvlSvdK/jry6Kcxqg5vN7/svVWCxZykVzzJHaxXk5T9jnFemZHSYgnw==" crossorigin="anonymous"></script> {% endcomment %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js" integrity="sha512-90vH1Z83AJY9DmlWa8WkjkV79yfS2n2Oxhsi2dZbIv0nC4E6m5AbH8Nh156kkM7JePmqD6tcZsfad1ueoaovww==" crossorigin="anonymous"></script>
        {% endif %}
        <script src="{% static 'js/base.js' %}"></script>
        <script type="text/javascript">
            const store = new Vuex.Store({
                state: {
                    numItems: {{cart.get_length}},
                    get_total_price: {{cart.get_total_price}},
                    loading: true,
                }, 
                mutations: {
                    increment(state, quantity){
                        state.numItems += quantity;
                    },
                    changeTotalPrice(state, newPrice){
                        total_price = state.get_total_price + newPrice
                        state.get_total_price = _.round(total_price, 2);    
                    },
                    changeloading(){
                        state.loading = !state.loading;
                    }

                }
            });
            const navigationbar = new Vue({
                el: '#navigation',
                store: store,
                delimiters: ['[[', ']]'],
                data() {
                    return {
                        loading: false,
                        empty: false,
                        trousers: [],
                        sortedTrousers: [],
                        query: "",
                    }
                },
                filters: {
                    currency: function(value){
                        if (!value) return ''
                        value = formatter.format(value)
                        return value
                    },
                },
                computed: {
                    numItems: function(){
                        return store.state.numItems
                    }
                },
                mounted(){
                },
                methods: {
                    search(e){
                        this.trousers = []
                        this.sortedTrousers = []
                        this.loading = true
                        this.empty = false
                        let url = e.target.dataset.url
                        let endpoint = url + "?query=" + this.query 
                        fetch( endpoint, {
                            method: "GET",
                            headers: {
                                'X-Requested-With': 'XMLHttpRequest',
                                'Content-Type': 'application/json',
                            },
                            credentials: 'same-origin',
                        })
                        .then((response) => {
                            return response.json()
                        })
                        .then((result) => {
                            this.trousers = result
                            if (this.trousers.length > 0){
                                this.sort()
                            } else {
                                this.empty = true
                            }
                            setTimeout( function(){
                                this.loading = false
                            }.bind(this), 5000);
                        })
                    },
                    close(){
                        {% comment %} this.trousers = []
                        this.sortedTrousers = [] {% endcomment %}
                    },
                    sort(){
                        for(let i = 0; i < this.trousers.length; i++){
                            for(let j = 0; j < this.trousers[i].variant.length; j++){
                                trouser = this.trousers[i].variant[j]
                                trouser["name"] = this.trousers[i].name
                                trouser["url"] = this.trousers[i].url
                                this.sortedTrousers.push(trouser)
                            }
                        }
                    },
                    beforeEnter: function (el) {
                        el.style.opacity = 0
                    },
                    enter: function(el, done){
                        var delay = el.dataset.index * 150
                        setTimeout(function(){
                            el.style.opacity = 1
                            el.classList.add("animate__animated", "animate__slideInRight")    
                        }, delay)
                    },
                },
            });
        </script>
        {% block javascript %}
        {% endblock javascript %}
    </body>
</html>
